#cookies-info {
    float: left;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #00CA69;
    padding: 16px 0;
}

#cookies-info .cookies-container {
    width: 981px;
    padding-right: 155px;
    position: relative;
    color: white;
    display: table;
    margin: 0 auto;
    font-size: 13px;
    line-height: 18px;
    font-family: 'Raleway-medium';
}

#cookies-info .cookies-container p {
    float: left;
    font-size: 11px;
    font-family: 'Raleway-medium';
    margin: 0;
    padding: 0;
    letter-spacing: -0.02em;
    line-height: 1.8em;
}

#cookies-info .cookies-container .accept {
    min-width: 121px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 500;
    background: #FFFFFF;
    color: #333333;
    font-size: 14px;
    font-family: 'Raleway-medium';
    margin: 0;
    padding: 0;
    margin-top: -2px;
    margin-left: 19px;
    padding: 14px 8px;
    cursor: pointer;
}

#cookies-info .cookies-container p a,
#cookies-info .cookies-container a {
    color: #FFFFFF !important;
    text-decoration: underline !important;
}

@media only screen and (max-width: 1000px) {
    #cookies-info .cookies-container {
        max-width: 900px;
    }

    #cookies-info .cookies-container .accept {
        margin: 0 auto;
        float: none;
        display: table;
    }

    #cookies-info .cookies-container p {
        float: left;
        width: 100%;
        margin-bottom: 5px;
        line-height: normal;
    }
}