<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}"/>
            <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% endblock %}
        {% block stylesheets %}
            <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
            <link href="{{ asset('bundles/lscore/front/cookie-info/cookie-info.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
            <link href="{{ asset('bundles/lscore/front/css/editor.css') }}" rel="stylesheet" type="text/css" media="all"/>
            <link href="{{ asset('bundles/lscore/front/css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
            <link href="{{ asset('bundles/lscore/front/css/tablet.css') }}" rel="stylesheet" type="text/css" media="all"/>
            <link href="{{ asset('bundles/lscore/front/css/mobile.css') }}" rel="stylesheet" type="text/css" media="all"/>
            <link href="{{ asset('bundles/lscore/front/css/jquery.bxslider.css') }}" rel="stylesheet" type="text/css" media="all"/>
            <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
            <link rel="stylesheet" href="{{ asset('bundles/lscore/common/lightbox/css/lightbox.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/front/images/favicon.png') }}?v=2"/>
    </head>
    <body>
        {% set menuTop = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_top'}) %}
        {% set menuBottom = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_bottom'}) %}
        {% set currentRoute = app.request.attributes.get('_route') %}
        <div id="header">
            <div class="container-header">
                <div class="nav-container"></div>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="{{ path('ls_core_homepage') }}"><img class="img-logo" src="{{ asset('bundles/lscore/front/images/logo.png') }}"></a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="header-navbar-collapse">
                            {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        {% block header_contact %}            
            <div class="top-contact">
                <div class="index-contact">
                    <div>
                        <span class="p1"><span class="black">t.</span> {{cms_config.get('contact_phone', '')}}</span> <span class="black">e.</span> {{cms_config.get('contact_email', '')}}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% block content %}{% endblock %}
    <div id="footer">
        <div class="footer-container">
            <!--Facebook-->
            <div id="fb-desc" class="fb-like" 
                 data-href="{{app.request.getUri()}}" 
                 data-layout="standard"
                 data-width="400"
                 data-action="like" 
                 data-show-faces="false" 
                 data-share="true"
                 size="small">
            </div>
            <div id="fb-mobile" class="fb-like" 
                 data-href="{{app.request.getUri()}}" 
                 data-layout="standard"
                 data-width="210"
                 data-action="like" 
                 data-show-faces="false" 
                 data-share="true"
                 size="small">
            </div>
            <hr>
            <div class="bottom-nav">
                {{ knp_menu_render(menuBottom, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
            </div>
            <div class="footer-logo"><img src="{{ asset('bundles/lscore/front/images/logo.png') }}"></div>
            <div class="copy">{{cms_config.get('copyright', '')}}</div>
            <div class="footer-adress">{{cms_config.get('contact_adress', '')}}</div>
        </div>
    </div>
        
    {% block google_javascripts %}{% endblock %}
    
    {% block javascripts %}
        <div id="fb-root"></div>
        
        <script>
            var cookieInfoText = '{{ cms_config.get('cookie_info_text', '')|e('js') }}';
        </script>

        {#
        <div class="gala">
            <div class="open"></div>
            <div class="content">
                <p>Zachęcamy <span class="green">Szanownych Pacjentów</span><br/> do oddania głosu na naszą Klinikę</p>
                <img class="red-arrow" src="{{ asset('bundles/lscore/front/images/red-arrow.png') }}" alt=""> 
                <a href="http://gbs.gala.pl/featured/index/category/3" target="_blank">
                    <img class="gala-logo" src="{{ asset('bundles/lscore/front/images/gala-logo.jpg') }}" alt="Zachęcamy Szanownych Pacjentów do oddania głosu na naszą Klinikę"> 
                </a>
            </div>
        </div>
        #}

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/lscore/front/js/jquery.scrollme.js') }}"></script>
        <script src="{{ asset('bundles/lscore/common/lightbox/js/lightbox-plus-jquery.min.js') }}"></script>

        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <script src="{{ asset('bundles/lscore/common/jquery-1.12.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lscore/common/bootstrap-3.3.6/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lscore/front/cookie-info/cookie-info.min.js') }}"></script>
        <script src="{{ asset('bundles/lscore/front/js/jquery.bxslider.min.js') }}" type="text/javascript"></script>

        <script>
            $(document).ready(function () {
                $('.bxslider').bxSlider({
                    mode: 'fade',
                    auto: true,
                    autoControls: true,
                    controls: true,
                    slideSelector: 'li',
                });

                $('.gala .open').click(function () {
                    $('.gala').toggleClass('visible');
                });
            });
        </script>

        {{ settings.google_analitycs|raw }}
    {% endblock %}
</body>
</html>
