<div class="form-group">
    {{ form_label(form.gallery, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
    <div class="col-sm-9">
        {{ form_widget(form.gallery, {'attr': {'class': 'form-control' }}) }}
    </div>
</div>