<div id="wrap">
	{% for photo in gallery.photos %}
		<div class="gallery-border">
 			<a class="example-image-link" href="{{ photo.getPhotoWebPath() }}" data-lightbox="example-set"><img class="example-image" src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" alt="" /></a>
 		</div>
	{% endfor %}
</div>