{% extends '::frontend.html.twig' %}

{% block title %}Galerie - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div class="container">
        {% for photo in entity.photos %}
            {% if photo.getPhotoWebPath != null %}
                <div class="photo">
                    <img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" />
                </div>
            {% endif %}
            <div class="clearfix"></div>
        {% endfor %}
    </div>
{% endblock %}