{% extends '::frontend.html.twig' %}

{% block title %}Zespół - {{ parent() }}{% endblock %}
{% block content %}
    <div class="employees-container">
    	<div class ="head-title green">Zespół</div>
        {% if static_content['team_header'] is defined %}{{static_content['team_header']|raw}}{% endif %}
        <div class="team-content">{% if static_content['team_content'] is defined %}{{static_content['team_content']|raw}}{% endif %}</div>
        {% if static_content['team_note'] is defined %}{{static_content['team_note']|raw}}{% endif %}
    	<div class="news">
    		{% for category in categories %}
    			<div class="category-container">
    				<div class="category-name">{{ category.CategoryName }}</div>
                    <div class="category-container-flex">
                        {% for entity in entities %}
                            {% if category.id == entity.categoryid %}
                                {% include "LsEmployeesBundle:Front:list.html.twig" with {'entity': entity} %}
                            {% endif %}
                        {% endfor %}
                    </div>
        		</div>
        	{% endfor %}
        </div>
    </div>
{% endblock %}
