    <div onclick="location.href='{{ path('ls_employees_show', {'slug': entity.slug}) }}'" class="employeer-container">
        <div class="rest{% if entity.getPhotoWebPath != null %} has-photo{% endif %}">
        {% if entity.getPhotoWebPath != null %}
            <div class="photo">
                <img src="{{ entity.getThumbWebPath('list') }}?{{ random(10000) }}" />
            </div>
        {% endif %}
            <a href="{{ path('ls_employees_show', {'slug': entity.slug}) }}" class="title">{{ entity.name|replace({' ': '<br />'})|raw }}</a>
            <div class="post">{{ entity.post }}</div>
            <a href="{{ path('ls_employees_show', {'slug': entity.slug}) }}" class="more"><div class="green-link"></div></a>
        </div>
        <div class="clearfix"></div>
    </div>

