{% extends '::frontend.html.twig' %}

    {% block title %}Zespół - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
    {% block description %}{{ entity.seodescription }}{% endblock %}
    {% block keywords %}{{ entity.seokeywords }}{% endblock %}

    {% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var k = jQuery.noConflict();
  function equalHeight(group) {
    var tallest = 0;
    group.each(function() {
      thisHeight = k(this).height();
      if(thisHeight > tallest) {
        tallest = thisHeight;
      }
    });
    group.height(tallest);
  }        
  k(document).ready(function(){
    equalHeight(k(".show-employeer-container"));
  }); 
</script>
<div class="show-actual-container">
        <div class="head-title green">Zespół</div>
            <div class="item-zespol">
                <div class="rest{% if entity.getPhotoWebPath != null %} has-photo{% endif %}">
                    <div class="separator"></div>
                {% if entity.getPhotoWebPath != null %}
                    <div class="photo">
                        <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}" />
                    </div>
                    <div class="content-name">{{ entity.name }}</div>
                     <div class="content-post">{{ entity.post }}</div>
                    <div class="content-text">{{ entity.content|raw }}</div>
                {% endif %}
                </div>
                <div class="clearfix"></div>

                <div class="zespol-pozostale">
                    <div class="another-title">Pozostali członkowie zespołu</div>
                    {% for zespol in entities %}
                     <div onclick="location.href='{{ path('ls_employees_show', {'slug': zespol.slug}) }}'" class="show-employeer-container">
                        <div class="rest{% if zespol.getPhotoWebPath != null %} has-photo{% endif %}">
                        {% if zespol.getPhotoWebPath != null %}
                            <div class="photo-zespol">
                                <img src="{{ zespol.getThumbWebPath('list') }}?{{ random(10000) }}" />
                            </div>
                        {% endif %}
                            <a href="{{ path('ls_employees_show', {'slug': zespol.slug}) }}" class="title-zespol">{{ zespol.name|replace({' ': '<br />'})|raw }}</a>
                            <div class="post">{{ zespol.post }}</div>
                            <a href="{{ path('ls_employees_show', {'slug': zespol.slug}) }}" class="more"><div class="green-link"></div></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>


<div class="new-actual-container">
    <div class="zespol-right">
    <a class="link green" href="{{ path('ls_employees') }}">Powrót do listy zespołu</a>
    <div class="title">Porady</div>
        {% for article in advice %}
            <div onclick="location.href='{{ path('ls_advices_show', {'slug': article.slug}) }}'" class="index-actual">
                <div class="actual-title">{{ article.title }}</div>
                {% if article.getPhotoWebPath != null %}
                    <div class="photo">
                        <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}" />
                    </div>
                {% endif %}
                <div class="actual-text">
                    {{ article.contentshort }}
                </div>
                <a href="{{ path('ls_advices_show', {'slug': article.slug}) }}" class="more"><div class="green-link"></div></a>
            </div>
        {% endfor %}
    </div>

        <div class="index-contact-info zespol">
            Masz pytania? Skontaktuj się z nami!
            <div class="index-contact">
                <div class="p2">t. {{cms_config.get('contact_phone', '')}}</div> e. {{cms_config.get('contact_email', '')}}
            </div>
        </div>
    </div>
</div>
    {% endblock %}
