{% extends '::frontend.html.twig' %}

{% block content %}

	<div class="index-top">
		<div class="back-img">
		    	<img class="img-res" src="{{ asset('bundles/lscore/front/images/back-img.png') }}">
		</div>
		<div class="index-title">
			<div class="scrollme">
			    <div
			        class="animateme"
			        data-when="exit"
			        data-from="0.3"
			        data-to="1"
			        data-opacity="1"
			        data-translatey="-300">
						{{cms_config.get('index_title', '')|raw}}
	    		</div>
	    	</div>
	    </div>
	    <div class="index-right-photo pull-right" style="position: relative; margin-top: -490px; height: 848px;">
	    	<div class="scrollme" style="position: relative; bottom: 0; height: 100%; display: flex; align-items: flex-end;">
			    <div 
			    	id="fade-show" 
			        class="animateme"
			        data-when="exit"
			        data-from="0"
			        data-to="1"
			        data-opacity="1"
			        data-translatey="-3000"
			        style="height:50%; display: flex; align-items: flex-end;">
			    	<img class="img-responsive" src="{{ asset('bundles/lscore/front/images/layer14.png') }}">
			    </div>
			</div>
		</div>
	</div>    
<div id="main-container">	
	<div class="index-content">
		<div class="mobile"><hr></div>
		{{cms_config.get('index_block_1', '')|raw}}
		<div class="green link">
			<a href="{{cms_config.getLink('index_block_1', '')}}">Dowiedz się więcej o Danecka Dental</a>
		</div>
			<div class="d-silver-line"></div>
			<div class="u-silver-line"></div>
		<div style="margin-top: 36px;" class="pull-left">
			<div class="title green tooth">{{cms_config.getTitle('index_block_2', '')}}</div>
			{{cms_config.get('index_block_2', '')|raw}}
				<ul class="index-ul">
				{% for oferta in offer %}
					<li><a href="{{ path('ls_offer_show', {'slug': oferta.slug}) }}">{{oferta.title}}</a></li>
				{% endfor %}
				</ul>
			<div class="green link">
				<a href="{{cms_config.getLink('index_block_2', '')}}">Poznaj bliżej naszą ofertę</a>
			</div>
		</div>
		<div class="t-silver-line"></div>
	</div>

	<div class="index-right">
	<div class="title">Porady</div>
		{% for article in entities %}
			<div class="index-actual">
				<div class="actual-title">{{ article.title }}</div>
				{% if article.getPhotoWebPath != null %}
		            <div class="photo">
		                <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}" />
		            </div>
		        {% endif %}
				<div class="actual-text">
					{{ article.contentshort }}
				</div>
				<a class="actual-link" href="{{ path('ls_advices_show', {'slug': article.slug}) }}">Dowiedz się więcej</a>
			</div>
		{% endfor %}
	</div>

		<div class="index-contact-info-down">
			<hr>
			<span style="float:left; margin-top: 6px;">Masz pytania? Skontaktuj się z nami!</span>
			<div class="index-contact">
				<span class="p2"><span class="black">t.</span> {{ cms_config.get('contact_phone', '') }}</span><span class="black"> e.</span> {{ cms_config.get('contact_email', '') }}
			</div>
			
		</div>

	<ul class="bxslider">
		{% for slide in employees %}
		<li>
			<div class="index-slider-down">
				<div class="slider-img img-desc"><img src="{{ slide.getThumbWebPath('slider') }}?{{ random(10000) }}"></div>
				<div class="slider-img img-tab"><img src="{{ slide.getThumbWebPath('slider_tablet') }}?{{ random(10000) }}"></div>
				<div class="slider-img img-mob"><img src="{{ slide.getThumbWebPath('slider_mobile') }}?{{ random(10000) }}"></div>
				<div class="right">
					<div class="black-block">
						<div class="name">{{slide.name}}</div>
						<div class="about">{{slide.post}}</div>	
					</div>	
					<div class="text">
						{{ slide.content|striptags|truncate(190, false, "") }}...
					</div>
					<a class="link" href="{{ path('ls_employees_show', {'slug': slide.slug}) }}">Poznaj mnie bliżej.</a>	
				</div>
			</div>
		</li>
		{% endfor %}<div class="right-background"><div class="black-bg"></div><div class="black-background"></div></div>
	</ul>
	



	</div>
</div> 
{% endblock %}

{% block javascripts %}
{{parent()}}

{% endblock %}