﻿}
@font-face {
    font-family: 'Raleway-light';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-medium';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-light';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-bold';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.editor {
    margin: 25px;
    width: 680px;
}

.text-10 {
    font-size: 16px;
    float: left;
    font-family: 'Raleway-light';
    width: 600px;
    margin-top: 26px;
    line-height: 1.6em;
    letter-spacing: 0.011em;
    margin-bottom: 34px;
    font-weight: 600;
    padding-right: 10px;
}

p {
    font-family: 'Raleway-medium';
    font-size: 16px;
    margin: 0;
    line-height: 1.66em;
}

.normal {
    font-family: 'Raleway-medium';
    font-size: 16px;
    line-height: 1.66em;
}
.title-1 {
    font-family: 'Raleway-light';
    font-size: 36px;
    margin-bottom: 19px;
    margin-top: 51px;
}
.content-text {
    padding-right: 30px;
}
.cytat {
    font-size: 24px;
    font-family: 'Raleway-medium';
    color: #00ca69;
    height: 100%;
    margin-top: 23px;
    margin-left: 40px;
    margin-bottom: 18px;
    margin-right: 0;
}

.team-note {
    font-family: "Raleway-medium";
    font-size: 24px;
    width: 238px;
    color: #00ca69;
    padding: 1px;
    content: "";
    background: url(../images/cytat.png) no-repeat;
    padding-left: 39px;
    float: left;
    margin-top: -8px;
    margin-bottom: 15px;
    line-height: 1.25em;
}

.team-title {
    font-family: "Raleway-light";
    font-size: 36px;
    float: left;
    width: 680px;
    margin-top: 45px;
}

.cytat:before {
    padding: 1px;
    content: "";
    background: url(../images/cytat.png) no-repeat;
    width: 32px;
    height: 25px;
    padding-left: 33px;
    float: left;
    margin-bottom: 39px;
    padding-right: 5px;
}
.page-container a {
    text-decoration: underline;
    color: #00ca69;
}
.editor a {
    text-decoration: underline;
    color: #00ca69;
}

.actual-container a {
    text-decoration: underline;
    color: #00ca69;
}

.offer a {
    text-decoration: underline;
    color: #00ca69;
}
.employees a {
    text-decoration: underline;
    color: #00ca69;
}

.blist {
    font-family: 'Raleway-medium';
    width: 100%;
    margin-top: 9px;
    line-height: 2.1em;
    position: relative;
    padding-left: 20px;
}

.blist:before {
    content: "•";
    color: #00ca69;
    font-size: 27px;
    float: left;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}

.title {
    font-size: 36px;
    float: left;
    font-family: 'Raleway-light';
    width: 600px;
    line-height: 1.17;
    margin-right: 100%;
}

.text {
    font-size: 16px;
    float: left;
    font-family: 'Raleway-light';
    width: 600px;
    margin-top: 26px;
    line-height: 1.6em;
    letter-spacing: 0.011em;
    margin-bottom: 34px;
    margin-right: 80px;
}

.link {
    font-size: 16px;
    float: left;
    font-family: 'Raleway-light';
    text-decoration: underline;
    text-decoration-color: #00ca69;
    width: 590px;
}

.index-content a {
    font-size: 16px;
    float: left;
    font-family: 'Raleway-light';
    text-decoration: underline;
    text-decoration-color: #00ca69;
    width: 590px;
    color: #00ca69;
    font-weight: bolder;
}

.purple {
    color: #873b96;
}

.green {
    color: #00ca69;
    font-weight: bolder;
}
.tooth {
    font-family: 'Raleway-medium';
    font-weight: normal;
}
.tooth:before {
    background: url('../images/tooth.png') no-repeat;
    width: 32px;
    height: 35px;
    display: block;
    content: "";
    float: left;
    margin: 4px 22px 0px 0px;
}

.index-ul {
    list-style-position: inside;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin-top: 12px;
    margin-bottom: 10px;
    list-style: none;
    column-gap: 0px;
    float: left;
    width: 100%;
}
.index-ul li {
    background: url('../images/tick.png') no-repeat;
    padding-left: 41px;
    padding-bottom: 27px;
    margin: 0px;
    font-family: 'Raleway-medium';
    font-size: 16px;
}

.index-ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Raleway-medium';
    font-size: 16px;
    float: none;
    font-weight: normal;
}
.index-ul li a:hover {
    color: black;
    text-decoration: underline;
}
a:hover {
    color: #00e879;
}

.added-file {
    text-decoration: none;
    color: #00ca69;
    font-family: 'Raleway-medium';
    font-size: 16px;
    line-height: 1.66em;
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    margin: 5px 0;
    margin-left: 42px;
}

.added-file:hover {
    text-decoration: underline;
    color: #00e879;;
}

.added-file:before {
    content: "";
    background: url(../images/file-img.png) no-repeat left center;
    width: 26px;
    height: 32px;
    display: inline-block;
    position: absolute;
    left: -42px;
    top: -3px;
}

.content-text ul,
.offers-content ul,
.page-container ul,
.team-content ul,
.show-actual-container ul,
.editor ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.content-text li,
.offers-content li,
.page-container li,
.team-content li,
.show-actual-container li,
.editor li {
    font-family: 'Raleway-medium';
    width: 100%;
    margin-top: 9px;
    line-height: 2.1em;
    position: relative;
    padding-left: 20px;
}

.content-text li:before,
.offers-content li:before,
.page-container li:before,
.team-content li:before,
.show-actual-container li:before,
.editor li:before {
    content: "•";
    color: #00ca69;
    font-size: 27px;
    float: left;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}
