@media (max-width: 749px) 
{
    .container-header {
        height: 100px;
        width: 100%;
        margin: 0;
    }
    .container-fluid {
        margin: 0 auto;
        position: relative;
        padding: 0;
        width: 300px;
        height: 100px;
        float: none;
    }
    .container-fluid>.navbar-header {
        margin: 0;
    }
    .img-logo {
        margin: 0;
        width: 173px;
        height: 55px;
        margin-left: 0;
        margin-top: 20px;
    }

    .text-10 {
        width: 300px;
    }

    .textul {
        width: 300px;
    }

    .container-header .nav-container {
        display: none;
    }
    .container-header .navbar-default {
        height: 100px;
    }
    .index-right-photo {
        display: none;
    }
    .contact-form {
        margin-bottom: 0;
    }
    .index-content .title br {
        display: none;
    }
    .index-right-photo .img-responsive {
        display: none;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .index-content a {
        width: 300px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        border: none;
        padding: 0;
        margin: 0;
        margin-top: 35px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        margin-bottom: 100px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-default .navbar-collapse {
        border-color: transparent;
        float: right;
        text-align: right;
        width: 300px;
        margin-left: 100%;
    }
    .navbar-default .navbar-toggle .icon-bar {
        display: block;
        width: 39px;
        height: 5px;
        background-color: black;
        border-radius: 10px;
        margin-bottom: 6px;
    }
    #main-container {
        width: 300px;
        margin: 0 auto;
        position: relative;
    }
    .top-contact {
        width: 300px;
        margin: 0 auto;
        position: relative;
    }
    .top-contact .index-contact {
        font-size: 12px;
        color: #873b96;
        float: right;
        margin-top: 12px;
        font-family: 'Raleway-medium';
        position: relative;
        right: 0;
        top: 0;
    }
    .index-top {
        width: 100%;
        margin: 0 auto;
        position: relative;
        margin-top: 80px;
    }
    .back-img {
        display: none;
    }
    .img-res {
        margin-top: -100px;
        width: 100%;
        height: 545px;
        margin-left: 0;
    }
    .index-top .index-contact {
        font-size: 12px;
        color: #873b96;
        float: none;
        width: 300px;
        margin: 0 auto;
        font-family: 'Raleway-medium';
        position: relative;
        top: 14px;
        left: 2px;
        height: 50px;
    }
    .index-top .index-contact>div {
        float: left;
    }
    .index-title {
        font-size: 46px;
        font-family: 'Raleway-light';
        line-height: 1.0;
        width: 280px;
        padding-left: 10px;
        margin: 0 auto;
        margin-top: 31px;
        letter-spacing: -0.016em;
    }
    .right-background {
        display: none;
    }
    .index-content {
        width: 300px;
        margin: 0 auto;
        float: none;
        position: relative;
        height: auto;
        margin-top: 70px;
        border-right: 1px solid #f1f1f1;
    }
    .index-content .title {
        font-size: 36px;
        float: left;
        font-family: 'Raleway-light';
        width: 300px;
        line-height: 1.17;
        margin-right: 0px;
    }

    .index-content .text {
        width: 300px;
        margin-bottom: 30px;
        margin-top: 24px;
        line-height: 1.64em;
    }
    .index-content .d-silver-line {
        display: none;
    }
    .index-content .u-silver-line {
        border: none;
        background-color: #f1f1f1;
        color: #f1f1f1;
        height: 1px;
        width: 300px;
        float: left;
        margin-top: 43px;
    }
    .index-content .u-silver-line:after {
        display: none;
    }
    .index-content>hr {
        display: none;
        margin-top: -28px;
        margin-bottom: 36px;
    }
    .mobile {
        display: inline;
    }
    .mobile>hr {
        margin-top: -25px;
        margin-bottom: 33px;
    }
    .index-content ul li {
        background: url('../images/tick.png') no-repeat;
        padding-left: 41px;
        padding-bottom: 0px;
        margin-right: 0px;
        width: 300px;
        float: left;
        margin-left: 0px;
    }
    .index-content ul {
        list-style-position: inside;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        margin-top: 14px;
        margin-bottom: 10px;
        list-style: none;
        column-gap: 0px;
    }
    .index-right {
        padding-top: 80px;
        padding-left: 0px;
        width: 300px;
        margin: 0 auto;
        float: left;
        font-family: 'Raleway-light';
    }
    .index-right .title {
        width: 300px;
        font-size: 36px;
        float: left;
        line-height: 1.17;
        margin-bottom: 28px;
        margin-left: 0;
        margin-top: 14px;
        margin-right: 0px;
    }

    .index-right .actual-text {
        font-size: 16px;
        float: left;
        line-height: 1.65;
        width: 300px;
        margin-top: 12px;
        letter-spacing: 0.0119em;
        font-weight: bolder;
    }

    .index-right .index-actual {
        width: 300px;
        float: left;
        margin-bottom: 60px;
    }
    .index-right:before {
        content: "";
        float: left;
        width: 300px;
        height: 1px;
        background: #f1f1f1;
        margin-top: -35px;
        margin-left: 0px;
    }
    .index-contact-info-down .index-contact {
        font-size: 17px;
        color: #873b96;
        float: left;
        margin-top: 4px;
    }
    .index-contact-info-down {
        font-family: 'Raleway-medium';
        font-size: 24px;
        width: 300px;
        margin: 0 auto;
        float: left;
        margin-top: 16px;
        margin-bottom: 5px;
    }
    .index-contact-info-down:before {
        display: none;
    }

    .index-contact-info-down>hr {
        content: "";
        float: left;
        width: 300px;
        height: 1px;
        background: #f1f1f1;
        margin-top: -28px;
        margin-left: 0;
        position: relative;
        left: 0;
    }
    .index-slider-down {
        width: 300px;
        height: auto;
        margin-top: 24px;
        float: left;
        margin: 23px auto 0px auto;
    }
    .slider-img {
        width: 300px;
        height: 244px;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: -999;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .index-slider-down img {
        width: 405px;
        height: 245px;
        border-bottom-left-radius: 0px;
        float: none;
        margin: 0 auto;
        overflow: hidden;
    }

    .index-slider-down .right {
        width: 300px;
        height: 400px;
        float: left;
        background: #00ca69;
    }
    .index-slider-down .black-block {
        width: 300px;
        height: 100px;
        background: #434343;
        margin-left: 0;
        padding-left: 22px;
        margin-top: 0;
        padding-top: 21px;
    }
    .index-slider-down .right {
        width: 300px;
        height: 467px;
        float: left;
        background: #00ca69;
    }
    .index-slider-down .text {
        font-family: 'Raleway-medium';
        font-size: 16px;
        color: white;
        margin: 22px 10px 15px 21px;
        line-height: 1.65em;
        float: left;
        width: 280px;
    }

    .bx-wrapper .bx-pager {
        right: 223px !important;
    }

    .index-slider-down .right:before {
        display: none;
    }
    .bottom-nav {
        display: none;
    }
    #footer {
        width: 300px;
        margin: 0 auto;
    }
    .fb-like {
        float: left;
        width: 100%;
        margin-bottom: 25px;
    }
    #footer .footer-container>hr {
        margin-right: 100%;
    }
    .footer-logo {
        margin-top: 21px;
        float: left;
        width: 113px;
        height: 37px;
    }
    .footer-container .copy {
        color: black;
        font-family: "Raleway-medium";
        font-size: 12px;
        float: left;
        clear: both;
        margin-top: 37px;
    }
    .footer-container .footer-adress {
        color: black;
        font-family: "Raleway-medium";
        font-size: 12px;
        float: left;
        clear: both;
        margin-top: 2px;
    }
    .index-contact-info-down .index-contact .p2 {
        font-size: 18px;
        color: #873b96;
        width: 290px;
        float: left;
        margin-bottom: 8px;
    }


    .page-container {
        width: 300px;
        margin: 0 auto;
    }
    .page-container-left {
        width: 300px;
        float: left;
        padding-right: 0;
    }
    .page-container-left .cont img{
        width: 300px !important;
        height: 50% !important;
        float: left;
    }
    .page-container-right {
        float: left;
        width: 300px;
        margin-top: 0;
        padding-left: 0;
    }
    .page-container-right img {
        width: 260px;
        height: 173px;
        float: left;
        margin-right: 0px;
        border-radius: 5px;
    }

    .page-container-right .name {
        float: left;
        width: 300px;
        font-family: "Raleway-medium";
        margin-top: 26px;
        font-size: 24px;
    }
    .page-container-right .title {
        float: left;
        width: 300px;
        font-family: "Raleway-medium";
        font-size: 24px;
        margin: 0;
        margin-top: 8px;
    }
    .page-container-right .text {
        float: left;
        width: 280px;
        font-family: "Raleway-medium";
        font-size: 16px;
        margin-top: 12px;
        line-height: 1.6em;
    }
    .page-container-right .link {
        float: left;
        width: 15px;
        height: 15px;
        margin-top: 2px;
        margin-right: 50%;
    }
    .page-contact-info {
        float: left;
        width: 300px;
        font-family: "Raleway-medium";
        margin-top: 72px;
        font-size: 24px;
        margin-bottom: 38px;
    }
    .page-contact-info br{
        display: none;
    }
    .page-contact {
        float: left;
        width: 300px;
        font-family: "Raleway-medium";
        color: #873b96;
        font-size: 18px;
        margin-top: 8px;
    }

    .page-contact br{
        display: none;
    }
    .cytat:before {
        display: none;
    }
    .cytat {
        font-size: 24px;
        font-family: 'Raleway-medium';
        color: #00ca69;
        height: 100%;
        margin-top: 23px;
        margin-left: 0;
        margin-bottom: 18px;
    }

    .page-porady {
        float: left;
        margin-top: 81px;
        width: 300px;
        position: relative;
    }
    .page-porady .head-title {
        float: left;
        width: 300px;
        font-family: "Raleway-light";
        font-size: 36px;
        margin-bottom: 20px;
    }


    .page-container-right:before {
        display: block;
    }
    .page-porady:after {
        display: none;
    }

    .page-contact-info:before {
        left: 0;
    }

    .page-contact-info:after {
        display: none;
    }
    .page-porady:before {
        left: 0px;
        top: -6px;
    }
    .head-title {
        width: 100%;
        position: relative;
        font-family: "Raleway-light";
        font-size: 48px;
        line-height: 56px;
        font-weight: 100;
        margin-top: 40px;
        margin-bottom: 36px;
    }
    .cont {
        margin-top: -18px;
    }

    .employees-container {
        width: 300px;
        margin: 0 auto;
        position: relative;
    }
    .employees-container .team-content {
        font-family: "Raleway-medium";
        font-size: 16px;
        float: left;
        width: 300px;
        padding-right: 0px;
        line-height: 1.65em;
        margin-top: 23px;
    }

    .employees-container .team-note {
        font-family: "Raleway-medium";
        font-size: 24px;
        width: 295px;
        color: #00ca69;
        padding: 1px;
        content: "";
        background: url(../images/cytat.png) no-repeat;
        padding-left: 40px;
        float: left;
        margin-top: 22px;
        line-height: 1.3em;
        margin-bottom: 24px;
    }
    .offers {
        float: left;
        width: 300px;
        height: auto;
        position: relative;
        margin-top: 45px;
        margin-bottom: 41px;
    }
    .offer {
        width: 300px;
        height: auto;
        float: left;
        list-style-type: none;
        border-left: 1px solid #f1f1f1;
    }
    .offer>li {
        width: 300px;
        height: 243px;
        padding: 5px;
    }
    .employees-container .head-title {
        width: 100%;
        position: relative;
        font-family: "Raleway-light";
        font-size: 48px;
        line-height: 56px;
        font-weight: 100;
        margin-top: 69px;
        margin-bottom: 0px;
    }

    .employees-container .team-title {
        font-family: "Raleway-light";
        font-size: 36px;
        float: left;
        width: 300px;
        margin-top: 36px;
        line-height: 1.19em;
    }

    .offers-content {
        width: 300px;
        padding-right: 0px;
        float: left;
        margin-top: -14px;
    }

    .title-1 {
        font-family: 'Raleway-light';
        font-size: 36px;
        margin-bottom: 23px;
        margin-top: 51px;
        line-height: 1.15em;
    }

    .normal {
        font-family: 'Raleway-medium';
        font-size: 16px;
        line-height: 1.68em;
    }

    .offers-content img {
        max-width: 300px !important;
        height: auto !important;
    }

    .right-offer .link {
        display: none;
    }

    .offer-subcategory:before {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 1px;
    }

    .right-offer:before {
        display: none;
    }
    .right-offer .title {
        width: 100%;
        margin-bottom: 33px;
        margin-left: 0;
        margin-top: 16px;
    }
    .offer-subcategory:after {
        display: none;
    }

    .right-offer .offer-subcategory .title-link {
        margin-left: 0;
    }

    .offer-category .title {
        width: 100%;
        margin-bottom: 32px;
        margin-left: 0;
        margin-top: 54px;
    }

    .employees-container .category-container {
        width: 300px;
        float: left;
        margin-bottom: 43px;
    }
    .employees-container .news {
        width: 300px;
        float: left;
        margin-top: 54px;
        margin-bottom: 28px;
    }
    .category-container-flex {
        width: 300px;
        float: left;
        display: block;
    }

    .employees-container .employeer-container {
        float: left;
        width: 150px;
        height: 350px;
        position: relative;
        margin: 0px 75px;
        margin-top: 39px;
        margin-bottom: -14px;
    }

    .show-actual-container {
        width: 300px;
        margin: 0 auto;
        position: relative;
    }

    .item-zespol {
        width: 300px;
        float: left;
        font-family: "Raleway-light";
        margin-top: 44px;
    }
    .item-zespol img {
        width: 300px;
        float: left;
        margin-right: 60px;
        margin-bottom: 32px;
        margin-top: 6px;
        border-radius: 10px;
    }
    .item-zespol .content-post {
        font-family: "Raleway-medium";
        font-size: 24px;
        color: #00ca69;
        float: left;
        width: 300px;
        margin-top: 5px;
        margin-bottom: 25px;
    }

    .item-zespol .content-text {
        padding-top: 155px;
        padding-right: 0px;
    }
    .zespol-pozostale {
        width: 320px;
        float: left;
        position: relative;
        margin-top: 7px;
    }
    .show-employeer-container {
        width: 150px;
        float: left;
        position: relative;
        margin: 0 75px;
        margin-right: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .zespol-right .link {
        display: none;
    }
    .new-actual-container {
        float: left;
        width: 300px;
        padding-left: 0;
        position: relative;
        margin-top: 0;
        margin-bottom: 37px;
    }
    .new-actual-container:before {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 100%;
        height: 1px;
    }
    .zespol-right {
        float: right;
        width: 300px;
        margin-bottom: 4px;
        padding-left: 0;
    }
    .zespol-right .title {
        margin-top: 50px;
        width: 100%;
        font-size: 36px;
        float: left;
        line-height: 1.17;
        margin-bottom: 28px;
        font-family: 'Raleway-light';
        margin-right: 0;
    }
    .zespol-right .actual-text {
        font-size: 16px;
        float: left;
        line-height: 1.65;
        width: 300px;
        margin-top: 12px;
        letter-spacing: normal;
        font-weight: normal;
        margin-bottom: 32px;
        font-family: 'Raleway-medium';
    }

    .zespol-right .index-actual {
        width: 100%;
        float: left;
        margin-bottom: 68px;
        font-family: 'Raleway-light';
    }
    .zespol:before {
        display: none;
    }
    .index-contact-info:before {
        display: none;
    }
    .new-actual-container .index-contact {
        font-family: "Raleway-medium";
        font-size: 18px;
        margin-top: 3px;
    }
    .new-actual-container .index-contact .p2 {
        float: left;
        margin-right: 24px;
        margin-bottom: 6px;
    }

    .show-actual-container .head-title {
        width: 100%;
        position: relative;
        font-family: "Raleway-light";
        font-size: 48px;
        line-height: 56px;
        margin-top: 70px;
        margin-bottom: 3px;
        font-weight: 100;
    }

    .item-zespol .content-name {
        float: left;
        font-family: "Raleway-light";
        font-size: 48px;
        width: 348px;
        margin-top: 29px;
        line-height: 1.0em;
    }

    .another-title {
        width: 100%;
        font-size: 36px;
        font-family: 'Raleway-light';
        color: black;
        margin: 40px 0;
        margin-bottom: 46px;
        line-height: 1.1em;
    }
    .zespol:after {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 0;
        top: -28px;
        width: 100%;
        height: 1px;
    }

    .new-actual-container .index-contact-info {
        font-family: "Raleway-medium";
        font-size: 24px;
        margin-bottom: 5px;
    }
    .zespol:after {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 0;
        bottom: 97px;
        width: 100%;
        height: 1px;
    }

    .news .background {
        display: none;
    }
    .page-container-right .post {
        margin-bottom: 35px;
    }

    .actual-container .news {
        width: 300px;
        float: left;
        margin-top: 50px;
    }
    .actual-container {
        width: 300px;
        margin: 0 auto;
        position: relative;
    }
    .actual-container .head-title {
        width: 100%;
        position: relative;
        font-family: "Raleway-light";
        font-size: 48px;
        line-height: 56px;
        font-weight: 100;
        margin-top: 68px;
        margin-bottom: 0px;
    }
    .advices .head-title {
        width: 100%;
        position: relative;
        font-family: "Raleway-light";
        font-size: 35px;
        font-weight: 100;
        margin-top: 68px;
        margin-bottom: 0px;
    }
    .page-container-right:before {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 0px;
        top: 24px;
        width: 100%;
        height: 1px;
    }
    .actual-container .news .item {
        width: 300px;
        float: left;
        margin-bottom: 35px;
    }
    .page-small-container {
        width: 100%;
        float: left;
        margin-top: 25px;
    }
    .actual-container .news .title {
        margin-right: 0;
    }

    .new-actual-container .link {
        display: none;
    }
    .show-actual-container .item {
        width: 300px;
        float: left;
        font-family: "Raleway-light";
        margin-top: -16px;
        margin-left: 2px;
    }

    .show-actual-container .item img {
        width: 300px;
    }
    .show-actual-container .content-text {
        padding: 0;
    }
    .item-2:after {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 0;
        bottom: -15px;
        width: 100%;
        height: 1px;
    }
    .item-2 {
        margin-bottom: 0;
        position: relative;
        float: left;
        width: 300px;
        height: 140px;
    }

    .new-actual-container .new {
        margin-top: 0;
        float: left;
    }
    .contact-container {
        width: 300px;
        margin: 0 auto;
        position: relative;
    }
    .contact-responsive {
        display: block;
    }

    .contact-desktop {
        display: none;
    }
    .contact-container .right-contact {
        width: 300px;
        float: left;
        position: relative;
        top: 0;
        right: 0px;
        margin-bottom: 50px;
    }
    .left-contact .contact-info  {
        font-family: "Raleway-medium";
        font-size: 16px;
        font-weight: normal;
        margin-top: 3px;
    }

    .left-contact .contact-info span {
        font-size: 24px;
        font-weight: normal;
    }
    .contact-container .contact-head {
        margin-bottom: 2px;
        width: 300px;
        margin-top: 37px;
    }
    .contact-container .head-title {
        font-family: "Raleway-light";
        font-size: 48px;
        line-height: 56px;
        font-weight: 100;
        margin-top: 69px;
    }

    .contact-container .left-contact {
        width: 300px;
        float: left;
    }
    .contact-responsive .green {
        color: #873b96;
    }
    .contact-container .contact-title {
        font-family: "Raleway-light";
        font-size: 36px;
        line-height: 1.13em;
        margin-bottom: 48px;
    }
    .left-contact .contact-info {
        font-family: "Raleway-medium";
        font-size: 16px;
        font-weight: normal;
        margin-top: 9px;
    }
    .left-contact .contact-info span {
        font-size: 18px;
        font-weight: normal;
    }

    .contact-container .contact-head:after {
        float: left;
        content: "";
        border: none;
        background-color: #00ca69;
        color: #00ca69;
        height: 1px;
        width: 46px;
        float: left;
        margin-right: 100%;
        margin-top: 29px;
    }
    #map {
        width: 300px;
        height: 280px;
        margin-top: 50px;
        float: left;
    }
    .contact-form {
        float: left;
        width: 300px;
        margin-top: 5px;
        margin-bottom: 47px;
    }
    .contact-container .contact-form .contact-title {
        margin-bottom: 8px;
    }

    .contact-group-email {
        float: left;
        width: 300px;
        margin-top: 25px;
    }
    .contact-group-name {
        float: left;
        width: 300px;
        margin-right: 0;
        margin-top: 19px;
    }
    .contact-form .name-form {
        width: 300px;
    }
    .contact-form .name-label {
        width: 300px;
    }
    .contact-group-phone {
        width: 300px;
    }
    .contact-form .phone-label {
        width: 300px;
        float: left;
    }
    .contact-form .phone-form {
        width: 300px;
    }

    .contact-group-content {
        width: 300px;
    }
    .dropdown-menu {
        right: 0;
        left: inherit;
        text-align: right;
    }
    .container-header .navbar-nav .has-submenu .dropdown-menu>li {
        margin-bottom: 10px;
        width: 300px;
    }

    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
        text-align: left !important;
        width: 75% !important;
        right: 55px !important;
    }

    .index-slider-down .link {
        font-family: 'Raleway-medium';
        font-size: 16px;
        color: white;
        width: 250px;
        position: absolute;
        text-decoration: underline;
        bottom: 60px;
        left: -18px;
    }
    .index-content .link {
        width: 300px;
    }

    #fb-desc {
        display: none;
    }

    #fb-mobile {
        display: block;
    }

    .advice-item {
        max-width: 300px;
    }

    .img-desc {
        display: none;
    }

    .img-tab {
        display: none;
    }

    .img-mob {
        display: block;
    }

    .message {
        float: left;
        width: 100%;
        margin-top: 35px;
    }

    .left-contact .contact-info p {
        font-size: 16px !important;
    }

    .left-contact .contact-info span {
        font-size: 16px !important;
    }

    .gala {
        display: none;
    }

    .gala-page-container {
        float: left;
        width: 100%;
        padding-top: 43px;
    }
    .gala-page-container .gala-logo {
        float: left;
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }

    .gala-page-container .gala-logo img {
        max-width: 100%;
        width: 214px;
    }

    .gala-page-container .gala-text {
        float: left;
        width: 100%;
        margin-left: 0px;
        margin-top: 38px;
    }

    .gala-page-container .gala-text p {
        font-size: 36px;
        line-height: 1.1em;
    }

    .gala-page-container .link {
        width: 100%;
        margin-top: 29px;
    }

    .container-header .navbar-nav.gala-menu-mobile {
        display: block;
        margin-top: -100px;
        margin-bottom: 52px;
    }

    .container-header .navbar-nav.gala-menu-mobile li>a {
        color: #e40613;
    }

    #cookies-info .cookies-container {
        max-width: 300px !important;
        width: 300px !important;
        padding-right: 0 !important;
        text-align: center;
    }

    #cookies-info .cookies-container .accept {
        margin-top: 10px !important;
        position: initial !important;
        right: initial !important;
        top: initial !important;
    }
}
