@font-face {
    font-family: 'Raleway-light';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-medium';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-bold';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

#header {
    position: relative;
}

#main-container {
    position: relative;
}

.container-header {
    width: 1070px;
    height: 100px;
    margin: 0 auto;
}

#container, .container-footer {
    width: 980px;
    margin: 0;
    position: relative;
}

.container-fluid {
    margin: 0;
    position: relative;
    padding: 0;
    width: 1070px;
    float: left;
}

.img-logo {
    margin: 23px 0;
    width: 173px;
    height: 55px;
    margin-left: 46px;
    margin-top: 22px;
}

.container-header .navbar {
    border-right: none;
}
.container-header .nav-container{
    position: absolute;
    height: 102px;
    top: 0;
    right: 0;
    width: 50%;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(224,224,224,0.2);
    -moz-box-shadow: 3px 3px 5px 0px rgba(224,224,224,0.2);
    box-shadow: 3px 3px 5px 0px rgba(224,224,224,0.2);
    border-left: none;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
}
.container-header .navbar-default {
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 5px;
    border-top-left-radius: 0px;
    -webkit-box-shadow: -3px 3px 5px 0px rgba(224,224,224,0.2);
    -moz-box-shadow: -3px 3px 5px 0px rgba(224,224,224,0.2);
    box-shadow: -3px 3px 5px 0px rgba(224,224,224,0.2);
    z-index: 999;
}

.container-header .navbar-nav {
    float: right;
    margin-top: 27px;
}

.container-header .navbar-default 
.container-header .navbar-nav>.active>a, 
.container-header .navbar-default .navbar-nav>.open>a {
    background-image: white;
    background-image: -webkit-linear-gradient(top,#ffffff 0,#ffffff 100%);
    background-image: -o-linear-gradient(top,#ffffff 0,#ffffff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ffffff));
    background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.container-header .navbar-default .navbar-nav li>a {
    background-image: unset;
    background-color: transparent;
    color: #555;
    box-shadow: none;
}
.container-header .navbar-default .navbar-nav .active>a {
    background-image: unset;
    background-color: transparent;
    color: #555;
    box-shadow: none;
}
.container-header a {
    font-family: 'Raleway-bold';
}
.container-header .navbar-default .navbar-nav>.active>a:after {
    display: block;
    content: "";
    height: 2px;
    background-color: #00ca69;
    width: 100%;
    margin-top: 6px;
}
.container-header .navbar-nav>li>a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #00ca69;
    transition: width .3s ease-in-out;
    margin-top: 6px;
}
.container-header .navbar-nav>li>a:hover:after,
.container-header .navbar-nav>li>a:focus:after {
    width: 100%;
}
.container-header .navbar-nav>li {
    margin-right: 16.6px;
}

#main-container {
    width: 980px;
    margin: 0 auto;
}
.top-contact {
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.index-top {
    width: 980px;
    margin: 0 auto;
}

.back-img {
    z-index: -9999;
    width: 1px;
    height: 1px;
}

.img-res
{
    margin-top: -101px;
    margin-left: -236px;
    width: 836px;
    height: 547px;
}


.top-contact .index-contact {
    font-size: 14px;
    color: #873b96;
    float: right;
    margin-top: 12px;
    font-family: 'Raleway-medium';
    position: absolute;
    right: 0;
    top: 0;
}

.index-contact .p1 {
    margin-right: 15px;
}

.index-title {
    font-size: 72px;
    font-family: 'Raleway-light';
    line-height: 1.0;
    width: 475px;
    margin-left: 514px;
    margin-top: 142px;
}
.index-right-photo {
    margin-top: 56px;
}
.purple {
    color: #873b96;
}
.index-content {
    width: 600px;
    margin: 0 auto;
    float: left;
    position: relative;
    height: auto;
    margin-top: 158px;
    border-right: 1px solid #f1f1f1;
}
.index-content .title {
    font-size: 36px;
    float: left;
    font-family: 'Raleway-light';
    width: 400px;
    line-height: 1.17;
}
.index-content .text {
    font-size: 16px;
    float: left;
    font-family: 'Raleway-light';
    width: 600px;
    margin-top: 26px;
    line-height: 1.6em;
    letter-spacing: 0.011em;
    margin-bottom: 34px;
    font-weight: 600;
}
.index-content .link {
    font-size: 16px;
    float: left;
    font-family: 'Raleway-light';
    text-decoration: underline;
    text-decoration-color: #00ca69;
    width: 590px;
}


.index-content .tooth {
    font-family: 'Raleway-medium';
    font-weight: normal;
}
.index-content .tooth:before {
    background: url('../images/tooth.png') no-repeat;
    width: 32px;
    height: 35px;
    display: block;
    content: "";
    float: left;
    margin: 4px 22px 0px 0px;
}

.index-slider-down span {
    color: white;
}

.index-content .text-style {
    margin-bottom: 35px;
}
.index-content ul {
    list-style-position: inside;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin-top: 5px;
    margin-bottom: 30px;
    list-style: none;
    column-gap: 0px;
}
.index-content ul li {
    margin: 0;
    background: url(../images/tick.png) no-repeat;
    padding-left: 41px;
    margin-bottom: 28px;
    overflow: hidden;
    height: 27px;
    width: 259px;
    display: flex;
    align-items: center;
    padding-bottom: 0;
}
.index-contact-info-down {
    font-family: 'Raleway-medium';
    font-size: 24px;
    width: 600px;
    float: left;
}

.index-contact-info-down:before {
    content: "";
    border: none;
    background-color: #f1f1f1;
    color: #f1f1f1;
    height: 115px;
    width: 1px;
    position: absolute;
    right: 380px;
    margin-top: -20px;
}
hr {
    border: none;
    background-color: #00ca69;
    color: #00ca69;
    height: 1px;
    width: 46px;
    margin-top: 28px;
    float: left;
    margin-right: 400px;
}
.mobile {
    display: none;
}
.index-contact-info-down .index-contact {
    font-size: 24px;
    color: #873b96;
    float: left;
    margin-top: 3px;
}
.index-contact-info-down .index-contact .p2 {
    font-size: 24px;
    color: #873b96;
    margin-right: 18px;
}

.index-slider-down {
    width: 980px;
    height: 400px;
    margin-top: 24px;
    float: left;
}

.index-slider-down img {
    height: 400px;
    float: left;
}

.index-slider-down .right {
    width: 378px;
    height: 400px;
    float: left;
    position: relative;
    z-index: 10;
    margin-left: 0px;
}
.index-slider-down .right:before {
    background: url('../images/dot.png') no-repeat;
    width: 13px;
    height: 13px;
    display: block;
    content: "";
    float: left;
    margin-left: -7px;
    margin-top: -7px;
}

.index-slider-down .black-block  {
    width: 395px;
    height: 100px;
    margin-left: -40px;
    padding-left: 40px;
    margin-top: 25px;
    padding-top: 21px;
}
.right-background {
    z-index: -10;
    background: #00ca69;
    width: 380px;
    height: 400px;
    float: right;
    margin: 0;
    margin-top: 25px;
}

.right-background .black-background {
    background: #434343;
    width: 355px;
    height: 100px;
    margin-top: -100px;
    padding-top: 21px;
    position: relative;
}
.right-background .black-bg {
    background: #434343;
    width: 42px;
    height: 100px;
    margin: 0;
    margin-left: -40px;
    padding-left: 40px;
    margin-top: 25px;
    padding-top: 21px;
    z-index: 70;
    position: relative;
}
.index-slider-down .text  {
    font-family: 'Raleway-medium';
    font-size: 16px;
    color: white;
    margin: 21px 30px 17px 40px;
    line-height: 1.65em;
    float: left;
    width: 80%;
}

.index-slider-down .link {
    font-family: 'Raleway-medium';
    font-size: 16px;
    color: white;
    text-decoration: underline;
    width: 100%;
    bottom: -10px;
    position: relative;
    margin-left: 40px;
}

.index-slider-down .black-block .name {
    font-family: 'Raleway-medium';
    font-size: 24px;
    color: white;
}

.index-slider-down .black-block .about {
    font-family: 'Raleway-medium';
    font-size: 16px;
    color: white;
}

.index-slider-down .top {
    width: 601px;
    float: left;
}
.index-content .d-silver-line {
    border: none;
    background-color: #f1f1f1;
    color: #f1f1f1;
    height: 1px;
    width: 46px;
    float: left;
    margin-top: 46px;
}
.index-content .u-silver-line {
    border: none;
    background-color: #f1f1f1;
    color: #f1f1f1;
    height: 1px;
    width: 150px;
    float: right;
    margin-top: 50px;
}
.index-content .u-silver-line:after {
    background: url('../images/dot.png') no-repeat;
    width: 13px;
    height: 13px;
    display: block;
    content: "";
    float: left;
    margin: -6px 0 0px 143px;
}

.index-right {
    padding-top: 150px;
    padding-left: 40px;
    width: 380px;
    float: left;
    font-family: 'Raleway-light';
}

.index-right:before {
    content: "";
    float: left;
    width: 380px;
    height: 1px;
    background: #f1f1f1;
    margin-top: -35px;
    margin-left: -40px;
}

.index-right .title {
    width: 100%;
    font-size: 36px;
    float: left;
    line-height: 1.17;
    margin-bottom: 28px;
}

.index-right .index-actual {
    width: 100%;
    float: left;
    margin-bottom: 60px;
}

.index-right .actual-title {
    font-size: 24px;
    float: left;
    line-height: 1.17;
    width: 100%;
    letter-spacing: 0.013em;

}

.index-right .actual-text {
    font-size: 16px;
    float: left;
    line-height: 1.65;
    width: 320px;
    margin-top: 12px;
    letter-spacing: 0.0119em;
    font-weight: bolder;
}
.index-right .actual-link {
    float: left;
    margin-top: 27px;
    font-size: 16px;
    font-family: 'Raleway-medium';
    color: #00ca69;
    text-decoration: underline;
}



#footer {
    width: 980px;
    margin: 0 auto;

}


.footer-container {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 155px;
}

.fb-like {
    float: left;
    width: 100%;
    margin-bottom: 23px;
}

.fb-like iframe
{
    transform: scale(1.2);
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    -o-transform: scale(1.2); 
    -moz-transform: scale(1.2); 
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
}
#u_0_3 {
    font-size: 9px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: end !important;
    z-index: 999;
}
.bx-wrapper {
    width: 100%;
}

.bottom-nav {
    width: 820px;
    float: left;
    margin-top: 2px;
}
.bottom-nav .navbar-nav a {
    color: black;
    font-family: "Raleway-medium";
    font-size: 12px;
    padding-left: 0;
    padding-right: 42px;
}
.bottom-nav .navbar-nav .active {
    background: white;
    text-decoration: underline;
}
.bottom-nav .navbar-nav>li:hover {
    background-image: -webkit-linear-gradient(top,#ffffff 0,#ffffff 100%);
    background-image: -o-linear-gradient(top,#ffffff 0,#ffffff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ffffff));
    background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
    background-color: white;
    box-shadow: none;
    text-decoration: underline;
}
.footer-logo {
    margin-top: 8px;
    float: right;
    width: 113px;
    height: 37px;
}
.footer-logo img {
    width: 100%;
    height: 100%;
}
.footer-container .copy {
    color: black;
    font-family: "Raleway-medium";
    font-size: 12px;
    float: right;
    clear: both;
    margin-top: 30px;
}

.footer-container .footer-adress {
    color: black;
    font-family: "Raleway-medium";
    font-size: 12px;
    float: right;
    clear: both;
    margin-top: 2px;
}

a:hover {
    color: #00e879;
}
.index-right .actual-link:hover {
    color: #00e879;
}

.green{
    color: #00ca69;
    font-weight: bolder;
}

.actual-container {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.actual-container .head-title {
    width: 100%;
    position: relative;
    font-family: "Raleway-light";
    font-size: 72px;
    line-height: 82px;
    font-weight: 100;
    margin-top: 75px;
    margin-bottom: 0px;
}
.actual-container .news {
    width: 680px;
    float: left;
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
}
.actual-container .news .title {
    font-family: "Raleway-medium";
    font-size: 24px;
    font-weight: 100;
    color: black;
    text-decoration: none;
    width: 100%;
}
.actual-container .news .item {
    width: 340px;
    float: left;
    margin-top: 35px;
}
.actual-container .news .item:hover {
    cursor: pointer;
    cursor: hand;
}
.page-container-right .page-small-container:hover {
    cursor: pointer;
    cursor: hand;
}

.page-container-right .page-small-container .green-link {
   	background: url('../images/link.png') no-repeat;
   	border: none;
}

.page-container-right .page-small-container:hover .green-link {
   	background: url('../images/link-green.png') no-repeat;
}

.actual-container .news .item:hover .more {
    margin-top: 4px;
    background: url(../images/link-green.png) bottom left no-repeat;
    margin-bottom: -4px;
}
.actual-container .news .item:hover .more img {
    display: none;
}

.actual-container .news .text {
    font-family: "Raleway-medium";
    font-size: 16px;
    font-weight: 100;
    margin-top: 10px;
    width: 290px;
    line-height: 1.6em;
}
.actual-container .news .more {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 15px;
    float: left;
}

.black {
    color: black;
}

.show-actual-container {
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.show-actual-container .head-title {
    width: 100%;
    position: relative;
    font-family: "Raleway-light";
    font-size: 72px;
    line-height: 82px;
    font-weight: 100;
    margin-top: 75px;
    margin-bottom: -6px;
}
.show-actual-container .item {
    width: 680px;
    float: left;
    font-family: "Raleway-light";
}
.new-actual-container {
    float: right;
    width: 300px;
    padding-left: 41px;
    position: relative;
    margin-top: 4px;
}
.item-2 .title {
    font-family: "Raleway-medium";
    font-size: 24px;
    color: black;
    width: 100%;
    float: left;
}
.new-actual-container .new {
    margin-top: 45px;
}
.item-2 {
    margin-bottom: 0;
    position: relative;
    float: left;
}
.item-2:hover {
    cursor: pointer;
    cursor: hand;
}

.page-small-container:hover {
    cursor: pointer;
    cursor: hand;
}
.page-small-container .green-link {
    background: url('../images/link-green.png') no-repeat;
}

.page-small-container:hover .green-link {
    background: url('../images/link-green.png') no-repeat;
}

.item-2:hover .green-link {
    background: url('../images/link-green.png') no-repeat;
}
.item-2 .green-link {
    width: 15px;
    height: 15px;
    background: url('../images/link.png') no-repeat;
}
.employees-container .employeer-container .green-link {
    width: 15px;
    height: 15px;
    background: url('../images/link.png') no-repeat;
}

.employees-container .employeer-container:hover .green-link {
    background: url('../images/link-green.png') no-repeat;
}

.employees-container .employeer-container:hover {
    cursor: pointer;
    cursor: hand;
}
.show-employeer-container:hover {
    cursor: pointer;
    cursor: hand;
}
.show-employeer-container a:hover {
    text-decoration: none;
    color: black !important;
}
.show-employeer-container .green-link {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -7px;
    width: 15px;
    height: 15px;
    background: url('../images/link.png') no-repeat;
}

.show-employeer-container:hover .green-link {
    background: url('../images/link-green.png') no-repeat;
}


.new-actual-container .index-contact-info {
    font-family: "Raleway-medium";
    font-size: 24px;
    margin-top: 39px;
}
.new-actual-container .index-contact {
    font-size: 18px;
    color: #873b96;
    font-family: "Raleway-medium";
    margin-top: 8px;
}

.new-actual-container .index-contact .p2 {
    float: left;
    width: 100%;
}
.page-container {
    width: 980px;
    margin: 0 auto;
}
.page-container-left {
    width: 680px;
    float: left;
    padding-right: 25px;
}

a.advice-link {
    margin-top: 16px;
    margin-bottom: 16px;
    float: left;
}

.advice-item {
    width: auto;
    height: auto;
    float: left;
    max-width: 340px;
}

.head-title {
    width: 100%;
    position: relative;
    font-family: "Raleway-light";
    font-size: 72px;
    line-height: 82px;
    font-weight: 100;
    margin-top: 75px;
    margin-bottom: 51px;
}

.employees-container {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.employees-container .head-title {
    width: 100%;
    position: relative;
    font-family: "Raleway-light";
    font-size: 72px;
    line-height: 82px;
    font-weight: 100;
    margin-top: 75px;
    margin-bottom: 0px;
}
.employees-container .news {
    width: 980px;
    float: left;
    margin-top: 34px;
    margin-bottom: 28px;
}
.employees-container .news .title {
    font-family: "Raleway-medium";
    font-size: 24px;
    font-weight: 100;
    color: black;
    text-decoration: none;
}
.employees-container .news .item {
    width: 340px;
    float: left;
    margin-bottom: 69px;
}
.employees-container .news .text {
    font-family: "Raleway-medium";
    font-size: 16px;
    font-weight: 100;
    margin-top: 10px;
    width: 290px;
    line-height: 1.6em;
}
.employees-container .news .more {
    text-decoration: none;
    color: black;
    width: 15px;
    height: 15px;
    margin-top: 30px;
    float: left;
}

.employees-container .category-container {
    width: 980px;
    float: left;
    margin-bottom: 43px;
}

.employees-container .category-container:before {
    content: "";
    border: none;
    background-color: #00ca69;
    color: #00ca69;
    height: 1px;
    width: 46px;
    margin-top: -6px;
    float: left;
    margin-right: 100%;
    margin-bottom: 32px;
}

.employees-container .category-container .category-name {
    font-family: 'Raleway-light';
    font-size: 36px;
}
.employees-container .employeer-container  {
    float: left;
    width: 150px;
    margin-top: 39px;
    margin-right: 58px;
    margin-left: 0;
    height: 350px;
    position: relative;
    margin-bottom: -14px;
}

.employees-container .employeer-container .title {
    font-family: "Raleway-medium";
    font-size: 18px;
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 22px;
}
.employees-container .employeer-container .post {
    font-family: "Raleway-medium";
    font-size: 16px;
    text-align: center;
    color: #00ca69;
    width: 100%;
    float: left;
}

.employees-container .employeer-container .more {
    text-decoration: none;
    color: black;
    width: 15px;
    height: 15px;
    left: 67.5px;
    right: 67.5px;
    position: absolute;
    bottom: 23px;
}

.category-container-flex {
    width: 1040px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.employees-container .team-title {
    font-family: "Raleway-light";
    font-size: 36px;
    float: left;
    width: 680px;
    margin-top: 45px;
}

.employees-container .team-content {
    font-family: "Raleway-medium";
    font-size: 16px;
    float: left;
    width: 680px;
    padding-right: 30px;
    line-height: 1.67em;
    margin-top: 20px;
}

.employees-container .team-note {
    font-family: "Raleway-medium";
    font-size: 24px;
    width: 238px;
    color: #00ca69;
    padding: 1px;
    content: "";
    background: url(../images/cytat.png) no-repeat;
    padding-left: 39px;
    float: left;
    margin-top: -8px;
    margin-bottom: 15px;
    line-height: 1.25em;
}

.slider-img {
    width: 602px;
    height: 400px;
    float: left;
    z-index: -20;
}


.index-slider-down img {
    width: 600px;
    height: 400px;
    float: right;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}


.zespol-right .title {
    margin-top: 50px;
    width: 100%;
    font-size: 36px;
    float: left;
    line-height: 1.17;
    margin-bottom: 28px;
    font-family: 'Raleway-light';
}

.zespol-right .index-actual {
    width: 100%;
    float: left;
    margin-bottom: 60px;
    font-family: 'Raleway-light';
}
.zespol-right .index-actual:hover {
    cursor: pointer;
    cursor: hand;
}
.zespol-right .index-actual .green-link {
    width: 15px;
    height: 15px;
    float: left;
    background: url('../images/link.png') no-repeat;
}

.zespol-right .index-actual:hover .green-link {
    background: url('../images/link-green.png') no-repeat;
}

.zespol-right .actual-title {
    font-size: 24px;
    float: left;
    line-height: 1.17;
    width: 100%;
    letter-spacing: 0.013em;

}

.zespol-right .actual-text {
    font-size: 16px;
    float: left;
    line-height: 1.65;
    width: 265px;
    margin-top: 12px;
    letter-spacing: 0.0119em;
    font-weight: bolder;
    margin-bottom: 32px;
}
.zespol-right .actual-link {
    float: left;
    margin-top: 27px;
    font-size: 16px;
    font-family: 'Raleway-medium';
    color: #00ca69;
    text-decoration: underline;
}

.zespol-right {
    float: right;
    width: 300px;
    padding-left: 39px;
    margin-bottom: 12px;
    padding-left: 41px;
}

.item-zespol {
    width: 680px;
    float: left;
    font-family: "Raleway-light";
    margin-top: 46px;
}

.item-zespol img {
    width: 300px;
    float: left;
    margin-right: 32px;
    margin-bottom: 32px;
    margin-top: 6px;
    border-radius: 10px;
}

.item-zespol .content-name {
    float: left;
    font-family: "Raleway-light";
    font-size: 48px;
    width: 348px;
    margin-top: 3px;
    line-height: 1.0em;
}
.item-zespol .content-text {
    padding-top: 155px;
    padding-right: 20px;
}

.item-zespol .content-text a {
    color: #00ca69;
}

.item-zespol .content-post {
    font-family: "Raleway-medium";
    font-size: 24px;
    color: #00ca69;
    float: left;
    width: 348px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.zespol-right .link {
    margin-top: -54px !important;
    margin-left: 86px !important;
}

.page-container-right {
    float: right;
    width: 300px;
    margin-top: 147px;
    padding-left: 43px;
    position: relative;
}

.page-container-right .head-title{
    float: left;
    width: 300px;
    font-family: "Raleway-light";
    font-size: 36px;
    margin-bottom: 25px;
}

.page-container-right img {
    width: 260px;
    height: 173px;
    border-radius: 10px;
}

.page-container-right .name{
    float: left;
    width: 300px;
    font-family: "Raleway-medium";
    margin-top: 28px;
    font-size: 24px;
}

.page-container-right .post{
    float: left;
    width: 300px;
    font-family: "Raleway-medium";
    color: #00ca69;
    font-size: 16px;
}

.page-container-right .link{
    float: left;
    width: 15px;
    height: 15px;
    margin-top: 35px;
}
.page-small-container {
    width: 100%;
    float: left;
}

.page-container-right .title{
    float: left;
    width: 300px;
    font-family: "Raleway-medium";
    font-size: 24px;
}

.page-container-right .text{
    float: left;
    width: 260px;
    font-family: "Raleway-medium";
    font-size: 16px;
    margin-top: 12px;
    line-height: 1.6em;
}

.page-contact-info {
    float: left;
    width: 300px;
    font-family: "Raleway-medium";
    margin-top: 77px;
    font-size: 24px;
    position: relative;
}

.page-contact {
    float: left;
    width: 300px;
    font-family: "Raleway-medium";
    color: #873b96;
    font-size: 18px;
    margin-top: 8px;
}

.contact-container {
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.contact-container .head-title {
    width: 100%;
    position: relative;
    font-family: "Raleway-light";
    font-size: 72px;
    line-height: 82px;
    font-weight: 100;
    margin-top: 75px;
    margin-bottom: 0px;
}
.contact-container .left-contact {
    width: 570px;
    float: left;
}


.contact-container .contact-head {
    float: left;
    width: 570px;
    margin: 44px 0;
}

.contact-container .contact-title {
    font-family: "Raleway-light";
    font-size: 36px;
    margin-bottom: 43px;
}

.contact-container .contact-name {
    font-family: "Raleway-medium";
    font-size: 24px;
}

.contact-container .contact-adress {
    font-family: "Raleway-medium";
    font-size: 16px;
    line-height: 1.8em;
}

.contact-container .google-map-link {
    width: 100%;
    display: inline-block;
}

.contact-container .google-map-link .button {
    width: auto;
    padding: 0 20px;
    float: left;
    text-decoration: none;
    color: white;
    line-height: 50px;
}

.contact-container .google-map-link .button:active,
.contact-container .google-map-link .button:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

.contact-container .contact-head:after {
    float: left;
    content: "";
    border: none;
    background-color: #00ca69;
    color: #00ca69;
    height: 1px;
    width: 46px;
    float: left;
    margin-right: 100%;
    margin-top: 23px;
}

.contact-form {
    float: left;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 92px;
}

.contact-form input:focus{
    border: 1px solid #00ca69;
}
.contact-form textarea:focus{
    border: 1px solid #00ca69;
}
.contact-container .contact-form .contact-title {
    font-family: "Raleway-light";
    font-size: 36px;
    margin-bottom: 0px;
}

.contact-form .form-group {
    margin: 0;
}

.contact-form .email-label {
    margin: 0;
    text-align: left;
    font-family: "Raleway-medium";
    font-size: 16px;
    width: 100%;
    float: left;
    margin-bottom: 8px;
    margin-top: 11px;
}

.contact-form .name-label {
    margin: 0;
    text-align: left;
    font-family: "Raleway-medium";
    font-size: 16px;
    width: 240px;
    float: left;
    margin-bottom: 8px;
}

.contact-form .phone-label {
    margin: 0;
    text-align: left;
    font-family: "Raleway-medium";
    font-size: 16px;
    width: 240px;
    float: right;
    margin-bottom: 8px;
}

.contact-form .content-label {
    margin: 0;
    text-align: left;
    font-family: "Raleway-medium";
    font-size: 16px;
    width: 100%;
    float: left;
    margin-bottom: 8px;
}

.contact-form .email-form {
    margin: 0;
    text-align: left;
    font-family: "Raleway-medium";
    font-size: 16px;
    width: 100%;
    float: left;
    height: 45px
}

.contact-form .name-form {
    margin: 0;
    text-align: left;
    font-family: "Raleway-medium";
    font-size: 16px;
    width: 240px;
    float: left;
    height: 45px
}

.contact-form .phone-form {
    margin: 0;
    text-align: left;
    font-family: "Raleway-medium";
    font-size: 16px;
    width: 240px;
    float: left;
    height: 45px
}

.contact-form .content-form {
    margin: 0;
    text-align: left;
    font-family: "Raleway-medium";
    font-size: 16px;
    width: 100%;
    float: left;
    height: 138px;
}


.contact-form .form-control {
    border: 1px solid #f1f1f1;
    -webkit-box-shadow: none;
    box-shadow: none;

}
.contact-group-email {
    float: left;
    width: 500px;
    margin-top: 25px;
}
.contact-group-name {
    float: left;
    width: 240px;
    margin-right: 20px;
    margin-top: 19px;
}
.contact-group-phone {
    float: left;
    width: 240px;
    margin-top: 19px;
}
.contact-group-content {
    float: left;
    width: 500px;
    margin-top: 19px;
}
.button {
    margin-top: 20px;
    float: right;
    width: 180px;
    height: 50px;
    border: none;
    color: white;
    background-color: #00ca69;
    font-family: "Raleway-medium";
    font-size: 16px;
}

.contact-container .right-contact {
    width: 410px;
    float: right;
    position: absolute;
    top: 103px;
    right: 0px;
    margin-bottom: 177px;
}

.contact-container .right-contact .contact-info {
    width: 410px;
    float: left;
    font-family: "Raleway-medium";
    font-size: 16px;
    margin-top: 140px;
}
.contact-container .right-contact .contact-info>span {
    font-family: "Raleway-medium";
    font-size: 24px;
    font-weight: normal;
}

.contact-container .right-contact .contact-info:after {
    content: "";
    border: none;
    background-color: #00ca69;
    color: #00ca69;
    height: 1px;
    width: 46px;
    float: left;
    margin-right: 100%;
    margin-top: 43px;
}

#map {
    width: 410px;
    height: 445px;
    margin-top: 50px;
    float: left;
}
.bx-wrapper {
    float: left;
    top: 0px !important;
    margin-bottom: 2px !important;
}
.offer {
    width: 980px;
    height: auto;
    float: left;
    list-style-type: none;
}

.offer>li {
    float: left;
    height: 245px;
    width: 244px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #f1f1f1;
    vertical-align: middle;
    position: relative;
    display: table;
    cursor: pointer;
    cursor: hand;
}

.offers {
    float: left;
    width: 980px;
    height: auto;
    position: relative;
    margin-top: 47px;

}

.offer .category {
    font-family: "Raleway-medium";
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    margin: auto 0;
    text-align: center;
}

.offer .category-link {
    background: url('../images/link.png') no-repeat;
    font-family: "Raleway-medium";
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    color: black;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -8px;
}
.center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    top: -10px;
    line-height: 2em;
    left: 2px;
    padding: 5px;
}

.offer>li:hover {
    float: left;
    text-decoration: none;
    text-align: center;
    border: 1px solid #00ca69;
    vertical-align: middle;
    position: relative;
    display: table;
}

.offer li:hover .category-link {
    background: url('../images/link-green.png') no-repeat;
}
.offers-content {
    width: 680px;
    padding-right: 20px;
    float:left;
    margin-top: -8px;
}
.right-offer {
    float: left;
    width: 300px;
    height: auto;
    position: relative;
    padding-top: 7px;
}

.right-offer .title {
    width: 100%;
    margin-bottom: 32px;
    margin-left: 40px;
    margin-top: 42px;
}

.right-offer .offer-subcategory .title-link {
    font-family: "Raleway-medium";
    font-size: 16px;
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    text-decoration: none;
    color: black;
    margin-bottom: 28px;
    margin-left: 40px;
}

.right-offer .offer-subcategory .title-link:after {
    content: ">";
    font-size: 14px;
    color: #d8d8d8;
    padding-left: 9px;
}

.right-offer .offer-subcategory .title-link:hover:after {
    content: ">";
    font-size: 14px;
    color: #02ca6a;
}

.right-offer .offer-subcategory .current-offer-sub:after {
    content: ">";
    font-size: 14px;
    color: #02ca6a;
}

.offer-subcategory {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
}

.offer-category {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
}

.offer-category .offer {
    width: 100%;;
}

.offers-content a {
    color: #00ca69;
    text-decoration: underline;
}
.offers-content a:hover{
    color: #00e879;
}
.item-zespol .content-text a:hover {
    color: #00e879;
}
.new-actual-container .link:hover {
    color: #00e879;
}
.show-actual-container a:hover {
    color: #00e879;
}
.show-actual-container a {
    color: #00ca69;
}
.new-actual-container .title:hover {
    color: black;
}

.offer-category .offer>li {
    float: left;
    height: 150px;
    width: 100%;
    padding: 5px;

}
.offer-category .title {
    width: 100%;
    margin-bottom: 32px;
    margin-left: 40px;
    margin-top: 53px;
}

.offer-category .offer-category .offer { 
    width: 100%;
    margin-top: 3px;
}

.advices {
    float: left;
    width: 300px;
    margin-top: -30px;
    padding-left: 40px;
    position: relative;
}

.advices .actual-link {
    float: left;
    margin-top: 27px;
    font-size: 16px;
    font-family: 'Raleway-medium';
    color: #00ca69;
    text-decoration: underline;
}

.zespol-pozostale {
    width: 680px;
    float: left;
    position: relative;
}
.show-employeer-container {
    width: 150px;
    float: left;
    position: relative;
    margin-right: 57px;
    text-align: center;
    margin-bottom: 30px;
}

.show-employeer-container .title-zespol {
    font-size: 18px;
    font-family: 'Raleway-medium';
    color: black;
    position: relative;
}
.show-employeer-container .photo-zespol img {
    width: 150px;
    height: 200px;
    float: left;
    margin: 0;
    margin-bottom: 18px;
}
.show-employeer-container .more img {
    width: 15px;
    height: 15px;
}
.show-employeer-container .post {
    font-size: 16px;
    font-family: 'Raleway-medium';
    color: #00ca69;
    margin-top: 7px;
    margin-bottom: 20px;
    width: 100%;
}
.show-employeer-container .more img {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -7px;
}

.another-title {
    width: 100%;
    font-size: 36px;
    font-family: 'Raleway-light';
    color: black;
    margin: 34px 0;
    margin-bottom: 39px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: white;
}

.gallery-border {
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    width: 199px;
    height: 150px;
    padding: 0px;
}
.gallery-border img {
    width: 195px;
    border-radius: 5px;
}

.gallery-border:hover {
    border: 2px solid #00ca69;
}

.advices:before {
    background-color: #f1f1f1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
}

.page-contact-info:before {
    background-color: #f1f1f1;
    content: '';
    position: absolute;
    left: -40px;
    top: -26px;
    width: 100%;
    height: 1px;
}
.page-contact-info:after {
    background: url(../images/dot.png) no-repeat;
    width: 13px;
    height: 13px;
    display: block;
    content: "";
    position: absolute;
    left: -46px;
    top: -32px;
}

.news .background {
    margin: 25px 0;
    border-radius: 15px;
    margin-top: 40px;
}

.new-actual-container:before {
    background-color: #f1f1f1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
}

.item-2:after {
    background-color: #f1f1f1;
    content: '';
    position: absolute;
    left: -41px;
    bottom: -15px;
    width: 100%;
    height: 1px;
}

.item-2 a {
    text-decoration: none;
}

.new-actual-container .link {
    float: left;
    margin-top: -58px;
    margin-left: 103px;
    font-size: 16px;
    font-family: 'Raleway-medium';
    color: #00ca69;
    text-decoration: underline;
    font-weight: normal;
    width: 100%;
}

.index-contact-info {
    float: left;
    position: relative;
}

.new-actual-container .index-contact-info:before {
    left: -47px;
    top: -31px;
}

.index-contact-info:before {
    background: url(../images/dot.png) no-repeat;
    width: 13px;
    height: 13px;
    display: block;
    content: "";
    position: absolute;
    left: -45px;
    top: -56px;
}

.zespol:before {
    left: -45px;
    top: -34px;
}

.zespol:after {
    background-color: #f1f1f1;
    content: '';
    position: absolute;
    left: -35px;
    bottom: 152px;
    width: 100%;
    height: 1px;
}
.right-offer .link {
    margin-top: -65px;
    margin-left: 151px;
    width: 50%;
}

.cont {
    margin-top: -8px;
}

.page-container-right:before {
    background-color: #f1f1f1;
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    width: 1px;
    height: 100%;
}

.page-container-right page-contact-info:before {
    left: -45px;
    top: -34px;
}

.page-container-right page-contact-info:after {
    left: -35px;
}

.page-porady {
    float: left;
    margin-top: 4px;
    position: relative;
}
.page-porady .link {
    margin-right: 50%;
    margin-top: 0px;
}

.page-porady:before {
    background-color: #f1f1f1;
    content: '';
    position: absolute;
    left: -35px;
    top: 45px;
    width: 100%;
    height: 1px;
}

.page-porady:after {
    background: url(../images/dot.png) no-repeat;
    width: 13px;
    height: 13px;
    display: block;
    content: "";
    position: absolute;
    left: -48px;
    top: 39px;
}

.right-offer:before {
    background-color: #f1f1f1;
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 100%;
}

.offer-subcategory:before {
    background-color: #f1f1f1;
    content: '';
    position: absolute;
    left: 0px;
    bottom: -20px;
    width: 100%;
    height: 1px;
}
.offer-subcategory:after {
    background: url(../images/dot.png) no-repeat;
    width: 13px;
    height: 13px;
    display: block;
    content: "";
    position: absolute;
    left: -5px;
    bottom: -25px;
}

.new-actual-container .title {
    margin-top: 50px;
    margin-bottom: 1px;
    width: 101%;
}
.contact-responsive {
    display: none;
}

.contact-desktop {
    display: block;
}

.show-actual-container a { 
    color: #00ca69;
    font-family: "Raleway-medium";
}

.employees-container .news .category-container-flex .employeer-container img {
    border-radius: 10px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left !important;
    width: 35% !important;
    right: 0 !important;
}

.bx-wrapper .bx-pager {
    padding-top: 0px !important;
}

#fade-img {
    position: absolute;
    bottom: 0px;
    display: none;
}

.index-right .index-actual img {
    display: none;
}

#fb-desc {
    display: block;
}

#fb-mobile {
    display: none;
}

.img-desc {
    display: block;
}

.img-tab {
    display: none;
}

.img-mob {
    display: none;
}

.caret {
    display: none;
}

.advice-img {
    margin-top: 30px;
    border-radius: 10px;
}

.message {
    float: left;
    width: 60%;
    margin-top: 35px;
}

.red-color {
    color: red !important;
}

.green-color {
    color: green !important;
}

@media (min-width: 1070px) 
{
    .container-header .navbar-nav .has-submenu .dropdown-menu>li {
        margin-bottom: 10px;
    }

    .container-header .navbar-nav .has-submenu:hover .dropdown-menu>a,
    .container-header .navbar-nav .has-submenu:hover .dropdown-menu {
        display: block;
        border: none;
        background-color: #00ca69;
        margin-top: -17px;
        padding-top: 15px;
        border-radius: 10px;
        box-shadow: none;
    }

    .container-header .navbar-nav .has-submenu:hover {
        background-image: -webkit-linear-gradient(top,#00ca69 0,#00ca69 100%);
        background-image: -o-linear-gradient(top,#00ca69 0,#00ca69 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#00ca69),to(#00ca69));
        background-image: linear-gradient(to bottom,#00ca69 0,#00ca69 100%);
        background-color: #00ca69;
        border-top-left-radius: 15px;
        border-top-right-radius: 10px;
        color: white;
    }

    .container-header .navbar-nav .has-submenu:hover>a {
        color: white;
    }

    .container-header .navbar-nav .has-submenu>a:hover {
        background-image: -webkit-linear-gradient(top,#00ca69 0,#00ca69 100%);
        background-image: -o-linear-gradient(top,#00ca69 0,#00ca69 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#00ca69),to(#00ca69));
        background-image: linear-gradient(to bottom,#00ca69 0,#00ca69 100%);
        background-color: #00ca69;
        border-top-left-radius: 15px;
        border-top-right-radius: 10px;
        color: white;
    }

    .container-header .navbar-nav .has-submenu .dropdown-menu>li>a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Raleway-medium';
    }

    .container-header .navbar-nav .has-submenu .dropdown-menu>li>a:hover {
        text-decoration: underline;
        background-color: transparent;
        background-image: none;
    }

    .caret {
        display: inline-block;
    }
}

.gala {
    position: fixed;
    top: 170px;
    right: -220px;
    width: 220px;
    z-index: 999999;
    background: white;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.15);
    transition: all 0.3s;
}

.gala.visible {
    right: 0px;
}

.gala .open {
    width: 41px;
    height: 153px;
    background: url('../images/gala-open.png') no-repeat;
    position: absolute;
    top: 200px;
    left: -41px;
    cursor: hand;
    cursor: pointer;
}

.gala .content {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 19px;
    padding-top: 23px;
    padding-bottom: 30px;
}

.gala .content p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 19px;
    line-height: 1.25em;
}

.gala .content .green {
    color: #00ca69;
    font-weight: bold;
}
.gala .content .red-arrow {
    display: block;
    margin: 0 auto;
    margin-top: 12px;
}
.gala .content .gala-logo {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

@media (max-height: 730px) {
    .gala {
        top: 10px;
    }
}

.gala-open-tablet {
    display: none;
}

.gala-page-container {
    float: left;
    width: 100%;
    padding-top: 38px;
}
.gala-page-container .gala-logo {
    float: left;
    width: 160px;
    margin-left: 3px;
}

.gala-page-container .gala-logo img {
    max-width: 100%;
}

.gala-page-container .gala-text {
    float: left;
    width: 480px;
    margin-left: 60px;
    margin-top: 0px;
}

.gala-page-container .gala-text p {
    font-size: 36px;
    line-height: 1.1em;
}

.gala-page-container .link {
    width: 100%;
    margin-top: 29px;
}

.gala-menu-mobile {
    display: none;
}

label.checkbox {
    cursor: pointer;
    float: left;
    width: 100%;
    position: relative;
}

label.checkbox input {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
label.checkbox input:checked ~ .checkmark {
    border-radius: 0;
    border: none;
}

label.checkbox input:checked ~ .checkmark .checked {
    display: block;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

label.checkbox .checkbox-text {
    font-family: 'Raleway-medium';
    float: left;
    width: calc(100% - 25px);
    padding-left: 25px;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    z-index: 2;
    font-weight: 500;
}

label.checkbox .text a {
    color: #333333;
    text-decoration: underline;
}

label.checkbox .checkmark {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
    border-radius: 3px;
    border: 1px solid #ACACAC;
}

label.checkbox .checkmark .checked {
    display: none;
}