@media screen and (max-width: 1070px) and (min-width: 750px)
{
    .container-header {
        height: 100px;
        width: 100%;
        margin: 0;
    }
    .container-fluid {
        margin: 0 auto;
        position: relative;
        padding: 0;
        width: 720px;
        height: 100px;
        float: none;
    }
    .container-fluid>.navbar-header {
        margin: 0;
    }
    .img-logo {
        margin: 0;
        width: 173px;
        height: 55px;
        margin-left: 0;
        margin-top: 20px;
    }
    .container-header .nav-container {
        display: none;
    }
    .container-header .navbar-default {
        height: 100px;
    }
    .index-right-photo {
        display: none;
    }
    .contact-form {
        margin-bottom: 0;
    }
    .index-right-photo .img-responsive {
        display: none;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        border: none;
        padding: 0;
        margin: 0;
        margin-top: 35px;
    }

    .index-content .title {
        display: inline-block;
        width: auto !important;
        margin: 0 !important;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }

    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
        text-align: left !important;
        width: 35% !important;
        right: 93px !important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        margin-bottom: 100px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-default .navbar-collapse {
        border-color: transparent;
        float: right;
        text-align: right;
        width: 176px;
        margin-left: 100%;
    }
    .navbar-default .navbar-toggle .icon-bar {
        display: block;
        width: 39px;
        height: 5px;
        background-color: black;
        border-radius: 10px;
        margin-bottom: 6px;
    }
    #main-container {
        width: 720px;
        margin: 0 auto;
        position: relative;
    }
    .top-contact {
        width: 720px;
        margin: 0 auto;
        position: relative;
    }
    .index-top {
        width: 100%;
        margin: 0 auto;
    }
    .back-img {
        z-index: -9999;
        width: 100%;
        height: auto;
    }
    .img-res {
        margin-top: -100px;
        width: 100%;
        height: 545px;
        margin-left: 0;
    }
    .index-top .index-contact {
        font-size: 14px;
        color: #873b96;
        float: none;
        width: 720px;
        margin: 0 auto;
        font-family: 'Raleway-medium';
        position: relative;
        top: -433px;
    }
    .index-top .index-contact>div {
        float: right;
    }
    .index-title {
        font-size: 72px;
        font-family: 'Raleway-light';
        line-height: 1.0;
        width: 720px;
        margin: 0 auto;
        margin-top: -193px;
        padding-right: 237px;
    }
    .index-content {
        width: 720px;
        margin: 0 auto;
        float: none;
        position: relative;
        height: auto;
        margin-top: 70px;
        border-right: 1px solid #f1f1f1;
    }
    .top-contact .index-contact {
        font-size: 14px;
        color: #873b96;
        float: right;
        margin-top: 12px;
        font-family: 'Raleway-medium';
        position: relative;
        right: 0;
        top: 0;
        margin-bottom: -40px;
    }
    .index-content .title {
        font-size: 36px;
        float: left;
        font-family: 'Raleway-light';
        width: 720px;
        line-height: 1.17;
    }
    .index-content .title br {
        display: none;
    }

    .index-content .text {
        width: 720px;
        margin-bottom: 36px;
    }
    .index-content .d-silver-line {
        display: none;
    }
    .index-content .u-silver-line {
        border: none;
        background-color: #f1f1f1;
        color: #f1f1f1;
        height: 1px;
        width: 530px;
        float: left;
        margin-top: 43px;
    }
    .index-content .u-silver-line:after {
        display: none;
    }
    .index-content>hr {
        display: none;
    }
    .mobile {
        display: none;
    }
    .index-content ul li {
        background: url(../images/tick.png) no-repeat;
        padding-left: 41px;
        margin-bottom: 30px;
        padding-bottom: 0;
        margin-right: 0px;
        width: 345px;
        float: left;
        margin-left: 0px;
    }
    .index-content ul {
        list-style-position: inside;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        margin-top: 5px;
        margin-bottom: 10px;
        list-style: none;
        column-gap: 0px;
    }
    .index-right {
        padding-top: 83px;
        padding-left: 0px;
        width: 720px;
        margin: 0 auto;
        float: left;
        font-family: 'Raleway-light';
        position: relative;
    }
    .index-right .title {
        width: 720px;
        font-size: 36px;
        float: left;
        line-height: 1.17;
        margin-bottom: 28px;
        margin-left: 0;
    }
    .index-right .index-actual {
        width: 360px;
        float: left;
        margin-bottom: 60px;
    }
    .index-right:before {
        content: "";
        float: left;
        width: 530px;
        height: 1px;
        background: #f1f1f1;
        margin-top: -35px;
        margin-left: 0px;
    }
    .index-contact-info-down {
        font-family: 'Raleway-medium';
        font-size: 24px;
        width: 720px;
        margin: 0 auto;
        float: left;
        margin-top: 10px;
    }
    .index-contact-info-down:before {
        display: none;
    }
    .index-contact-info-down>hr {
        content: "";
        float: left;
        width: 530px;
        height: 1px;
        background: #f1f1f1;
        margin-top: -23px;
        margin-left: 0;
        position: relative;
        left: 0;
    }
    .index-slider-down {
        width: 720px;
        height: 400px;
        margin-top: 24px;
        float: left;
        margin: 23px auto 0px auto;
    }
    .slider-img {
        width: 340px;
        height: 400px;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: -999;
    }
    .index-slider-down img {
        width: 600px;
        height: 400px;
        float: none;
        margin: 0 auto;
        overflow: hidden;
    }
    .index-slider-down .right:before {
        display: none;
    }
    .bottom-nav {
        display: none;
    }
    #footer {
        width: 720px;
        margin: 0 auto;
    }
    .fb-like {
        float: left;
        width: 100%;
        margin-bottom: 25px;
    }
    #footer .footer-container>hr {
        margin-right: 100%;
    }
    .footer-logo {
        margin-top: 21px;
        float: left;
        width: 113px;
        height: 37px;
    }
    .footer-container .copy {
        color: black;
        font-family: "Raleway-medium";
        font-size: 12px;
        float: left;
        clear: both;
        margin-top: 37px;
    }
    .footer-container .footer-adress {
        color: black;
        font-family: "Raleway-medium";
        font-size: 12px;
        float: left;
        clear: both;
        margin-top: 2px;
    }

    .page-container {
        width: 720px;
        margin: 0 auto;
    }
    .page-container-left {
        width: 700px;
        float: left;
        padding-right: 10px;
    }

    .page-container-right {
        float: left;
        width: 720px;
        margin-top: 0;
        padding-left: 0;
    }
    .page-container-right img {
        width: 260px;
        height: 173px;
        float: left;
        margin-right: 54px;
    }

    .page-container-right .name {
        float: left;
        width: 300px;
        font-family: "Raleway-medium";
        margin-top: 34px;
        font-size: 24px;
    }
    .page-container-right .title {
        float: left;
        width: 720px;
        font-family: "Raleway-medium";
        font-size: 24px;
        margin: 0;
        margin-top: 8px;
    }
    .page-container-right .text {
        float: left;
        width: 680px;
        font-family: "Raleway-medium";
        font-size: 16px;
        margin-top: 12px;
        line-height: 1.6em;
    }
    .page-container-right .link {
        float: left;
        width: 15px;
        height: 15px;
        margin-top: 2px;
        margin-right: 50%;
    }
    .page-contact-info {
        float: left;
        width: 720px;
        font-family: "Raleway-medium";
        margin-top: 82px;
        font-size: 24px;
        margin-bottom: 38px;
    }
    .page-contact-info br{
        display: none;
    }
    .page-contact {
        float: left;
        width: 720px;
        font-family: "Raleway-medium";
        color: #873b96;
        font-size: 18px;
        margin-top: 8px;
    }

    .page-contact br{
        display: none;
    }
    .page-container-left .cont img{
        width: 680px !important;
        float: left;
    }

    .page-porady {
        float: left;
        margin-top: 9px;
        position: relative;
    }
    .page-porady .head-title {
        float: left;
        width: 300px;
        font-family: "Raleway-light";
        font-size: 36px;
        margin-bottom: 20px;
    }

    .page-container-right:before {
        display: block;
    }
    .page-porady:after {
        display: none;
    }

    .page-contact-info:before {
        left: 0;
    }

    .page-contact-info:after {
        display: none;
    }
    .page-porady:before {
        left: 0px;
    }
    .employees-container {
        width: 720px;
        margin: 0 auto;
        position: relative;
    }
    .employees-container .team-content {
        font-family: "Raleway-medium";
        font-size: 16px;
        float: left;
        width: 710px;
        padding-right: 10px;
        line-height: 1.6em;
        margin-top: 20px;
    }

    .employees-container .team-note {
        font-family: "Raleway-medium";
        font-size: 24px;
        width: 700px;
        color: #00ca69;
        padding: 1px;
        content: "";
        background: url(../images/cytat.png) no-repeat;
        padding-left: 40px;
        float: left;
        margin-top: 25px;
        margin-bottom: 24px;
    }
    .offers {
        float: left;
        width: 720px;
        height: auto;
        position: relative;
        margin-top: 47px;
        margin-bottom: 35px;
    }
    .offer {
        width: 720px;
        height: auto;
        float: left;
        list-style-type: none;
        border-left: 1px solid #f1f1f1;
    }
    .offer>li {
        width: 239px;
    }

    .offers-content {
        width: 720px;
        padding-right: 15px;
        float: left;
        margin-top: -8px;
    }
    .right-offer {
        float: left;
        width: 720px;
        height: auto;
        position: relative;
        padding-top: 7px;
    }
    .offer-subcategory:before {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 1px;
    }
    .offer-category:before {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 0px;
        top: 19px;
        width: 100%;
        height: 1px;
    }
    .right-offer:before {
        display: none;
    }
    .right-offer .link {
        display: none;
    }
    .offer-subcategory:after {
        display: none;
    }

    .offers-content img {
        max-width: 720px !important;
        height: auto !important;
    }

    .right-offer .title {
        width: 100%;
        margin-bottom: 32px;
        margin-left: 0;
        margin-top: 29px;
    }
    .right-offer .offer-subcategory .title-link {
        float: left;
        width: 360px;
        color: black;
        margin-bottom: 28px;
        margin-left: 0;
    }
    .offer-category .title {
        width: 100%;
        margin-bottom: 39px;
        margin-left: 0px;
        margin-top: 55px;
    }
    .offer-category .offer>li {
        float: left;
        height: 150px;
        width: 359px;
        padding: 0px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .employees-container .team-title {
        font-family: "Raleway-light";
        font-size: 36px;
        float: left;
        width: 720px;
        margin-top: 44px;
    }

    .employees-container .news {
        width: 720px;
        float: left;
        margin-top: 57px;
    }

    .employees-container .category-container {
        width: 720px;
        float: left;
        margin-bottom: 43px;
    }
    .category-container-flex {
        width: 750px;
        float: left;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
    }
    .employees-container .employeer-container {
        float: left;
        width: 150px;
        margin-top: 39px;
        margin-right: 99px;
        margin-left: 0;
        height: 350px;
        position: relative;
        margin-bottom: -14px;
    }

    .show-actual-container {
        width: 720px;
        margin: 0 auto;
        position: relative;
    }

    .item-zespol {
        width: 720px;
        float: left;
        font-family: "Raleway-light";
        margin-top: 44px;
    }
    .item-zespol img {
        width: 300px;
        float: left;
        margin-right: 60px;
        margin-bottom: 32px;
        margin-top: 6px;
        border-radius: 10px;
    }
    .item-zespol .content-post {
        font-family: "Raleway-medium";
        font-size: 24px;
        color: #00ca69;
        float: left;
        width: 320px;
        margin-top: 5px;
        margin-bottom: 25px;
    }

    .item-zespol .content-text {
        padding-top: 155px;
        padding-right: 20px;
    }
    .zespol-pozostale {
        width: 750px;
        float: left;
        position: relative;
    }
    .show-employeer-container {
        width: 150px;
        float: left;
        position: relative;
        margin-right: 100px;
        text-align: center;
        margin-bottom: 30px;
    }
    .zespol-right .link {
        display: none;
    }
    .new-actual-container {
        float: left;
        width: 720px;
        padding-left: 0;
        position: relative;
        margin-top: 0;
        margin-bottom: 37px;
    }
    .new-actual-container:before {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 0;
        top: 13px;
        width: 100%;
        height: 1px;
    }
    .zespol-right {
        float: right;
        width: 720px;
        margin-bottom: 12px;
        padding-left: 0;
    }
    .zespol-right .title {
        margin-top: 50px;
        width: 100%;
        font-size: 36px;
        float: left;
        line-height: 1.17;
        margin-bottom: 28px;
        font-family: 'Raleway-light';
        margin-right: 0;
    }
    .zespol-right .actual-text {
        font-size: 16px;
        float: left;
        line-height: 1.65;
        width: 720px;
        margin-top: 12px;
        letter-spacing: normal;
        font-weight: normal;
        margin-bottom: 32px;
        font-family: 'Raleway-medium';
    }

    .zespol-right .index-actual {
        width: 100%;
        float: left;
        margin-bottom: 68px;
        font-family: 'Raleway-light';
    }
    .zespol:before {
        display: none;
    }
    .index-contact-info:before {
        display: none;
    }
    .new-actual-container .index-contact {
        font-family: "Raleway-medium";
        font-size: 24px;
        margin-top: 3px;
    }
    .new-actual-container .index-contact .p2 {
        float: left;
        margin-right: 24px;
        width: inherit;
    }
    .zespol:after {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 0;
        bottom: 97px;
        width: 100%;
        height: 1px;
    }

    .actual-container .news {
        width: 680px;
        float: left;
        margin-top: 60px;
    }
    .actual-container {
        width: 720px;
        margin: 0 auto;
        position: relative;
    }
    .page-container-right:before {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 0;
        top: 36px;
        width: 100%;
        height: 1px;
    }
    .page-container-right .post {
        margin-bottom: 35px;
    }

    .new-actual-container .link {
        display: none;
    }

    .show-actual-container .content-text {
        padding-right: 0px;
    }
    .show-actual-container .item {
        width: 705px;
    }
    .new-actual-container .new {
        margin-top: 0;
        float: left;
        width: 800px;
        overflow: hidden;
        padding-bottom: 25px;
        margin-bottom: -25px;
    }
    .item-2 {
        margin-bottom: 0;
        position: relative;
        float: left;
        width: 400px;
        padding-left: 0px;
    }
    .new:before {
        background-color: #f1f1f1;
        content: '';
        position: absolute;
        left: 360px;
        top: 128px;
        width: 1px;
        height: 52%;
    }
    .contact-container {
        width: 720px;
        margin: 0 auto;
        position: relative;
    }
    .contact-responsive {
        display: block;
    }

    .contact-desktop {
        display: none;
    }
    .contact-container .right-contact {
        width: 720px;
        float: left;
        position: relative;
        top: 0;
        right: 0px;
        margin-bottom: 46px;
    }

    .left-contact .contact-info  {
        font-family: "Raleway-medium";
        font-size: 16px;
        font-weight: normal;
        margin-top: 3px;
    }

    .left-contact .contact-info span {
        font-size: 24px;
        font-weight: normal;
    }
    .contact-container .contact-head {
        margin-bottom: 2px;
    }

    #map {
        width: 720px;
        height: 281px;
        margin-top: 50px;
        float: left;
    }
    .contact-form {
        float: left;
        width: 720px;
        margin-top: 5px;
    }

    .contact-group-email {
        float: left;
        width: 720px;
        margin-top: 25px;
    }
    .contact-form .name-form {
        width: 350px;
    }
    .contact-group-name {
        width: 350px;
    }
    .contact-group-phone {
        width: 350px;
    }
    .contact-form .phone-label {
        width: 350px;
    }
    .contact-form .phone-form {
        width: 350px;
    }
    .contact-group-content {
        width: 720px;
    }
    .dropdown-menu {
        right: 0;
        left: inherit;
        text-align: right;
    }

    .img-desc {
        display: none;
    }

    .img-tab {
        display: block;
    }

    .img-mob {
        display: none;
    }

    .left-contact .contact-info p {
        font-size: 16px !important;
    }

    .left-contact .contact-info span {
        font-size: 16px !important;
    }

    .gala {
        display: none;
    }

    .gala-open-tablet {
        display: block;
        position: absolute;
        top: 32px;
        right: 66px;
    }

    #cookies-info .cookies-container {
        max-width: 720px !important;
        width: 720px !important;
    }
}