{% extends '::frontend.html.twig' %}

{% block title %}Gala Beauty Stars - {{ parent() }}{% endblock %}
{% block description %}Gala Beauty Stars - {{ parent() }}{% endblock %}
{% block keywords %}Gala Beauty Stars, {{ parent() }}{% endblock %}

{% block header_contact %} {% endblock %}

{% block content %}
    <div class="page-container">
	    <div class="gala-page-container">
            <a class="gala-logo" href="http://gbs.gala.pl/featured/index/category/3" target="_blank">
                <img src="{{ asset('bundles/lscore/front/images/gala-logo.jpg') }}" alt="Zachęcamy Szanownych Pacjentów do oddania głosu na naszą Klinikę"> 
            </a>
            <div class="gala-text">
                <p>Zachęcamy <span class="green"><strong>Szanownych Pacjentów</strong></span> do oddania głosu na naszą Klinikę</p>
                <a class="link" href="http://gbs.gala.pl/featured/index/category/3" target="_blank">Dowiedz się więcej</a>
            </div>
        </div>
    </div>
{% endblock %}