{% extends '::frontend.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div class="page-container">
	    <div class="page-container-left">
	        <div class="head-title green">{{ entity.title }}</div>
	        <div class="cont">{{ entity.content|raw }}</div>
	        {% if entity.gallery %}
	            <div class="gallery">
	                {% include "LsGalleryBundle:Front:_hasgallery.html.twig" with { gallery: entity.gallery } %}
	            </div>
	        {% endif %}
	    </div>
	    <div class="page-container-right">
	    	{% if employeer is not empty %}
	        <div class="head-title">Zespół</div>
	        	<div onclick="location.href='{{ path('ls_employees_show', {'slug': employeer.slug}) }}'" class="page-small-container">
	        		<img src="{{ employeer.getThumbWebPath('page') }}?{{ random(10000) }}">
	        		<div class="name">{{employeer.name}}</div>
	        		<div class="post">{{employeer.post}}</div>
	        		<a href="{{ path('ls_employees_show', {'slug': employeer.slug}) }}"><div class="link green-link"></div></a>
	        	</div>
	        {% endif %}
	       	{% if advice is not empty %}
		   		<div class="page-porady">
		        	<div class="head-title">Porady</div>
		        	{% for adv in advice %}
		        	<div onclick="location.href='{{ path('ls_advices_show', {'slug': adv.slug}) }}'" class="page-small-container">
		        		<div class="title">{{adv.title}}</div>
		        		<div class="text">{{adv.contentshort}}</div>
		        		<a href="{{ path('ls_advices_show', {'slug': adv.slug}) }}"><div class="link green-link"></div></a>
		        	</div>
		        	{% endfor %}
		        </div>
	        {% endif %}

	        	<div class="page-contact-info">
		            Masz pytania?<br>Skontaktuj się z nami!
		            <div class="page-contact">
		                t. {{cms_config.get('contact_phone', '')}}<br> 
		                e. {{cms_config.get('contact_email', '')}}
		            </div>
        		</div>
	    </div>
    </div>
{% endblock %}