{% extends '::frontend.html.twig' %}

{% block title %}Oferta - {{ parent() }}{% endblock %}
{% block content %}
    <div class="employees-container">
    	<div class ="head-title green">Oferta</div>
        {% if static_content['offer_header'] is defined %}{{static_content['offer_header']|raw}}{% endif %}
        <div class="team-content">{% if static_content['offer_content'] is defined %}{{static_content['offer_content']|raw}}{% endif %}</div>
        {% if static_content['offer_note'] is defined %}{{static_content['offer_note']|raw}}{% endif %}
    	<div class="offers">
            <ul class="offer">
                {% for entity in entities %}
                    <li onclick="location.href='{{ path('ls_offer_show', {'slug': entity.slug}) }}'">
                        <div class="center">
                            <a href="{{ path('ls_offer_show', {'slug': entity.slug}) }}" class="category">{{ entity.title }}</a>
                            <a href="{{ path('ls_offer_show', {'slug': entity.slug}) }}" class="category-link"></a>
                        </div>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
