{% extends '::frontend.html.twig' %}

{% block title %}Oferta - {{ parent() }}{% endblock %}
{% block description %}{{ offer.seodescription }}{% endblock %}
{% block keywords %}{{ offer.seokeywords }}{% endblock %}

{% block content %}
    <div class="employees-container">
        <div class ="head-title green">Oferta</div>
        <div class="offers-content">
            {{offer.content|raw}}
            {% if offer.gallery %}
                <div class="gallery">
                    {% include "LsGalleryBundle:Front:_hasgallery.html.twig" with { gallery: offer.gallery } %}
                </div>
            {% endif %}
        </div>
        <div class="right-offer">
            <a class="link green" href="{{ path('ls_offer') }}">Powrót do listy ofert</a>
            {% if entities != null %}
                <div class="offer-subcategory">
                    <div class="title">Dodatkowe informacje</div>
                    {% for entity in entities %}
                        <a href="{{ path('ls_offer_show_subcategory', {'slug': offer.slug, 'subcategory_slug': entity.slug}) }}" class="title-link">{{ entity.title }}</a>
                    {% endfor %}
                </div>
            {% endif %} 
            <div class="offer-category">
                {% if categories != null %}
                    <div class="title">Pozostałe</div>
                    <ul class="offer">
                        {% for category in categories %}
                            <li onclick="location.href='{{ path('ls_offer_show', {'slug': category.slug}) }}'">
                                <div class="center">
                                    <a href="{{ path('ls_offer_show', {'slug': category.slug}) }}" class="category">{{ category.title }}</a>
                                    <a href="{{ path('ls_offer_show', {'slug': category.slug}) }}" class="category-link"></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %} 
            </div>   
        </div>
    </div>
{% endblock %}
