{% extends '::frontend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/lscore/front/css/qtip.min.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}

<div class="contact-container">
        <div class="head-title green">Kontakt</div>
        <div class="left-contact">
            <div class="contact-head">
                <div class="contact-title">{{ cms_config.get('contact_title', '') }}</div>
                <div class="contact-name">{{ cms_config.get('contact_name', '') }}</div>
                <div class="contact-adress">{{ cms_config.get('contact_adress', '')|raw }}</div>

                <div class="contact-info contact-responsive">
                  {{ cms_config.get('contact_information', '')|raw }}
                </div>
                
                <div class="google-map-link">
                    <a class="button" href="http://maps.google.com/maps?q={{ cms_config.get('google_maps_position', '') }}" target="_blank">Otwórz w Google Maps</a>
                </div>
            </div>
        </div>

        <div class="right-contact">
            <div class="contact-info contact-desktop">
                {{ cms_config.get('contact_information', '')|raw }}
            </div>
            <div id="map"></div>
        </div>
        <div class="contact-form">
            <div class="contact-title">Formularz kontaktowy</div>
            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal'}}) }}
                <div class="contact-group-email">
                    {{ form_label(form.email, null, {'label_attr': {'class': 'email-label' }}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control email-form'}}) }}
                </div>
                <div class="contact-group-name">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'name-label' }}) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control name-form' }}) }}
                </div>
                <div class="contact-group-phone">
                    {{ form_label(form.phone, null, {'label_attr': {'class': 'phone-label' }}) }}
                    {{ form_widget(form.phone, {'attr': {'class': 'form-control phone-form' }}) }}
                </div>
                <div class="contact-group-content">
                    {{ form_label(form.content, null, {'label_attr': {'class': 'content-label' }}) }}
                    {{ form_widget(form.content, {'attr': {'class': 'form-control content-form' }}) }}
                </div>
                <div class="contact-group-accept">
                    {{ form_widget(form.accept, {'label': cms_config.get('contact_rodo', 'raw')}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.submit, {'attr': {'class': 'button' }}) }}
                    <div class="message"></div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/lscore/front/js/qtip.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/validate.js') }}" type="text/javascript"></script>
    <script>
        $("#form_contact").submit(function(event) {
            event.preventDefault();
            sendContact("{{ path('ls_contact') }}", $(this).serialize());
        });
    </script>
{% endblock %}

{% block google_javascripts %}
{% set marker = cms_config.get('google_maps_position', '')|split(',') %}
    <script>
      function initMap() {
        var myLatLng = {lat: {{marker[0]}}, lng: {{marker[1]}}};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          mapTypeControl: true,
          scrollwheel: true,
          zoom: 11
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|00ca69',
          position: myLatLng,
          title: '{{cms_config.get('seo_title','')}}'
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkDz2ieJRUzmbTDgrKMBMmxUO0p1cbeEw&callback=initMap"
        async defer></script>
{% endblock %}