{% extends '::frontend.html.twig' %}

{% block title %}Porady - {{ parent() }}{% endblock %}


{% block content %}

<div class="actual-container">
    	<div class ="head-title green">Porady</div>
    	<div class="news">
        	{% include "LsAdvicesBundle:Front:list.html.twig" with {'entities': entities} %}
      </div>

     <div class="page-container-right advices">
        {% if employeer is not empty %}
          <div class="head-title">Zespół</div>
            <div onclick="location.href='{{ path('ls_employees_show', {'slug': employeer.slug}) }}'" class="page-small-container">
              <img src="{{ employeer.getThumbWebPath('page') }}?{{ random(10000) }}">
              <div class="name">{{employeer.name}}</div>
              <div class="post">{{employeer.post}}</div>
              <a href="{{ path('ls_employees_show', {'slug': employeer.slug}) }}"><div class="link green-link"></div></a>
            </div>
          {% endif %}
            <div class="page-contact-info">
                Masz pytania?<br>Skontaktuj się z nami!
                <div class="page-contact">
                    t. {{cms_config.get('contact_phone', '')}}<br style="display:block;"> 
                    e. {{cms_config.get('contact_email', '')}}
                </div>
            </div>
      </div>
</div>
{% endblock %}
