{% set iter = 0 %}
{% for article in entities %}
{% set iter = iter + 1 %}
{% if iter < 2  %} {% set class=1 %} {% elseif iter > 2 %} {% set class=2 %} {% elseif iter > 4 %} {% set iter = 0 %} {% endif %}
    <div onclick="location.href='{{ path('ls_advices_show', {'slug': article.slug}) }}'" class="item row{{class}}">
        <div class="advice-item rest{% if article.getPhotoWebPath != null %} has-photo{% endif %}">
            <a href="{{ path('ls_advices_show', {'slug': article.slug}) }}" class="title">{{ article.title }}</a>
            <div class="text">{{ article.contentshort }}</div>
            <a href="{{ path('ls_advices_show', {'slug': article.slug}) }}" class="more"><img src="{{ asset('bundles/lscore/front/images/link.png') }}"></a>
        </div>
    </div>
    {% if iter == 4 %} <img class="background" src="{{ asset('bundles/lscore/front/images/porady.png') }}" /> {% endif %}
{% endfor %}
