{% extends '::frontend.html.twig' %}

    {% block title %}Porady - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
    {% block description %}{{ entity.seodescription }}{% endblock %}
    {% block keywords %}{{ entity.seokeywords }}{% endblock %}

    {% block content %}
<div class="show-actual-container">
        <div class="head-title green">Porady</div>
            <div class="item">
                <div class="rest{% if entity.getPhotoWebPath != null %} has-photo{% endif %}">
                    <div class="separator"></div>
                    <div class="content-text">{{ entity.content|raw }}</div>
                {% if entity.getPhotoWebPath != null %}
                    <div class="photo">
                        <img class="advice-img" src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}" />
                    </div>
                {% endif %}

            {% if entity.gallery %}
                <div class="gallery">
                    {% include "LsGalleryBundle:Front:_hasgallery.html.twig" with { gallery: offer.gallery } %}
                </div>
            {% endif %}

                </div>
                <div class="clearfix"></div>
            </div>
    <div class="new-actual-container">
        <a class="link green" href="{{ path('ls_advices') }}">Powrót do listy porad</a>
        <div class="title">Zobacz również</div>
        <div class="new">
        {% for article in entities %}
            <div onclick="location.href='{{ path('ls_advices_show', {'slug': article.slug}) }}'" class="item-2">
                <a href="{{ path('ls_advices_show', {'slug': article.slug}) }}" class="title">{{ article.title }}</a>
                <a class="advice-link" href="{{ path('ls_advices_show', {'slug': article.slug}) }}" class="more"><div class="green-link"></div></a>
            </div>
        {% endfor %}
        </div>

        <div class="index-contact-info">
            Masz pytania? Skontaktuj się z nami!
            <div class="index-contact">
                <div class="p2">t. {{cms_config.get('contact_phone', '')}}</div> e. {{cms_config.get('contact_email', '')}}
            </div>
        </div>
    </div>
</div>
    {% endblock %}
